<p>
Your HCB cards are at risk of getting locked if you don't upload your <%= @hcb_codes.count %> outstanding missing receipts. Once you hit 10 missing receipts, your cards will be locked until you upload them.
</p>

<p>
You can also manage your receipts on the HCB <%= link_to "receipts page", my_inbox_url %>.
</p>

<h3>Transactions missing receipts (<%= @hcb_codes.count %>)</h3>
<%= render "transactions_table", hcb_codes: @hcb_codes, show_org: @show_org %>

<% if @hcb_codes_upcoming.any? %>
  <h3>Upcoming (will count in 24 hours)</h3>
  <%= render "transactions_table", hcb_codes: @hcb_codes_upcoming, show_org: @show_org %>
<% end %>
