<p><%= @emails.length > 1 ? "Hi all," : "Hi there," %></p>

<p>
  <% if @invite.organizer_position_invite_request.present? %>
    <%= @invite.user.possessive_name %> request to join <%= @invite.event.name %> has been approved as a <%= @invite.role %>!
  <% else %>
    <%= @invite.user.name %> has accepted their invite to join <%= @invite.event.name %> as a <%= @invite.role %>!
  <% end %>

  <% if @invite.initial_control_allowance_amount_cents.present? %>
    <% if @invite.initial_control_allowance_amount_cents > 0 %>
      They have an initial spending allowance of <%= render_money @invite.initial_control_allowance_amount_cents %>.
    <% else %>
      They do not have an initial spending allowance given.
    <% end %>
  <% elsif @invite.role != :reader %>
    They have an unlimited spending allowance.
  <% else %>
    They do not have permission to spend money.
  <% end %>
</p>

If you wish, <%= link_to "create an announcement", edit_announcement_url(@announcement) %> to introduce your new team member!

<p>
  From,<br>
  The HCB Team
</p>
