<%# locals: (user:, legal_entity: nil, editing: nil, creating: nil, attempted: nil, embedded: false, title: nil) %>
<% payout_method = editing ? editing.details : attempted&.details %>
<% country_init = payout_method.is_a?(LegalEntity::PayoutMethod::Wire) ? "'#{payout_method.recipient_country}'" : "null" %>
<% form_class = "no-error-styling" %>
<% form_class += " payout-form--managed" if editing %>
<% if embedded %>
  <div class="<%= form_class %>" x-data="{ country: <%= country_init %> }">
    <%= fields_for :user, user do |form| %>
      <%= render "users/payout_form/fields", form:, user:, payout_method:, editing:, embedded: true, title: %>
    <% end %>
  </div>
<% else %>
  <% form_opts = { model: user, data: { turbo_frame: "_top" }, html: { "x-data": "{ country: #{country_init} }", class: form_class } } %>
  <% form_opts.merge!(url: payout_method_path(editing), method: :patch) if editing %>
  <% form_opts.merge!(url: payout_methods_path, method: :post) if creating %>
  <%= form_with(**form_opts) do |form| %>
    <% if creating && legal_entity %>
      <%= hidden_field_tag :legal_entity_id, legal_entity.id %>
    <% end %>
    <%= render "users/payout_form/fields", form:, user:, payout_method:, editing:, embedded: false, title: %>
  <% end %>
<% end %>
