<% title "You’ve been invited to #{@invite.event.name}" %>

<% if @invite.contract && !@invite.contract.signed? %>
  <% pending_signee = @invite.contract.pending_signee_information %>
  <%= render "application/callout", type: "warning", title: "You have a pending contract for this organization." do %>
    <% if pending_signee %>
      The contract is still pending because <%= pending_signee[:label] %> (<%= pending_signee[:email] %>) hasn't signed it yet.
    <% else %>
      If you have signed the contract, it may still be pending because your parent / legal guardian or HCB point of contact hasn't signed it.
    <% end %>
    <%= help_message %>
  <% end %>
<% end %>

<main class="center max-w-3xl card mt4 md-p3 mx-auto">
  <h1 class="mt0 border-0 mb-0"><%= @invite.event.name %></h1>

  <p class="muted caps bold mt-2">You've been invited to join</p>

  <% if @organizers.any? %>
    <div class="flex justify-center flex-wrap">
      <% @organizers.each do |position| %>
        <div class="tooltipped tooltipped--s mr1" aria-label="<%= position.user.name %>">
          <%= avatar_for position.user, size: 64 %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="flex justify-center items-center flex-wrap mt-3 gap-2">
    <%= link_to "Reject", organizer_position_invite_reject_path(@invite), method: :post, class: "btn bg-error" %>
    <% if @invite.contract && !@invite.contract.party(:signee).signed? %>
      <% if @invite.contract.party(:signee).present? %>
        <%= link_to "View pending contract", contract_party_path(@invite.contract.party(:signee)), class: "btn bg-accent" %>
      <% else %>
        <%= link_to "View pending contract", @invite.contract.signee_docuseal_url, class: "btn bg-accent" %>
      <% end %>
    <% else %>
      <% disabled = @invite.contract.present? && !@invite.contract.signed? %>
      <p class="tooltipped my-0" aria-label="<%= "The contract must be signed before you can accept this invite" if disabled %>"><%= link_to "Accept invitation", organizer_position_invite_accept_path(@invite), method: :post, class: "btn bg-success #{"pointer-events-none" if disabled}", disabled: %></p>
    <% end %>
  </div>
</main>
