<% title "Enter backup code" %>
<% content_for(:page_class) { "bg-snow" } %>

<% content_for :info_pane do %>
  <%= render partial: "logins/apply_info_pane" %>
<% end %>

<div class="flex flex-col flex-1 justify-center max-w-md w-full">
  <%= render "logins/header" do %>
    Backup code
  <% end %>

  <%= render "logins/badge", user: @login.user %>
  <%= render partial: "users/login_code_auth_notice" %>

  <p>
    Please enter one of the backup codes you generated previously.
  </p>

  <%= form_tag complete_login_path(@login) do %>
    <%= text_field :backup_code, "", placeholder: "Enter your backup code", name: "backup_code", class: "!max-w-full w-max", required: true, autofocus: true %>
    <%= invisible_captcha :remember_me %>
    <%= hidden_field_tag :method, :backup_code %>
    <%= render partial: "logins/fingerprint_info" %>

    <div class="flex flex-row justify-between items-center mt-4 gap-2">
      <% if @login.available_factors.excluding(:backup_code).any? %>
        <%= link_to "Sign in another way", choose_login_preference_login_path(@login), class: "block mt-0 no-underline" %>
      <% end %>

      <button data-webauthn-auth-target="continueButton" type="submit" class="gap-2 btn">
        Continue
      </button>
    </div>
  <% end %>
</div>

<%= render partial: "logins/environment_banner" %>
<%= render partial: "logins/footer" %>
