<% turbo_page_requires_reload if params[:require_reload].present? %>
<% title_text = @login.for_application? ? "Verify your email" : @signup ? "Sign up for HCB" : "Sign in to HCB" %>
<% title title_text %>

<% content_for :info_pane do %>
  <%= render partial: "logins/apply_info_pane" %>
<% end %>

<div class="flex flex-col flex-1 justify-center w-full <%= @login.for_application? ? "card" : "max-w-md" %>">
  <div class="my-auto">
    <%= render "logins/header", label: @login.for_application? ? "Apply for HCB" : "Hack Club" do %>
      <%= title_text %>
    <% end %>

    <%= form_for @login, class: "mt-1", id: "login", 'data-action': "webauthn-auth#submit", 'data-webauthn-auth-target': "authForm" do |form| %>
      <div data-webauthn-auth-target="error" class="mb2 display-none">
        <p class="flash error mb1 mx-auto">Security key authentication failed.</p>
      </div>

      <%= form.hidden_field :return_to %>
      <%= form.hidden_field :purpose %>
      <%= form.hidden_field :referral_link_id %>

      <%= email_field_tag :email, @prefill_email, placeholder: "Enter your email...", autofocus: true, autocomplete: "username", class: "!max-w-full w-full", style: "padding: 12px 15px", required: true, "data-webauthn-auth-target" => "loginEmailInput" %>
      <%= invisible_captcha :remember_me %>

      <div class="flex justify-between items-center gap-4">
        <% if @login.for_application? %>
          <span></span>
        <% else %>
          <% if @signup %>
            <%= link_to "Sign in", auth_users_path(return_to: @login.return_to), class: "mt-3" %>
          <% else %>
            <%= link_to "Sign up", auth_users_path(signup: true, return_to: @login.return_to), class: "mt-3" %>
          <% end %>
        <% end %>

        <button data-webauthn-auth-target="continueButton" type="submit" class="mt-4 gap-2 btn">
          Continue
        </button>
      </div>

      <%= link_to "Sign in another way", choose_login_preference_logins_path(return_to: @login.return_to), class: "display-none block mt2 no-underline", data: { "webauthn-auth-target" => "loginCode" } %>
    <% end %>
  </div>

  <%= render partial: "logins/environment_banner" %>
</div>

<% unless @login.for_application? %>
  <%= render partial: "logins/footer", locals: { whats_hcb: true } %>
<% end %>

<% content_for :footer do %>
  <%= link_to "← Back", new_application_path, class: "btn bg-muted" %>
  <button data-webauthn-auth-target="continueButton" type="submit" class="btn" form="login">
    Continue →
  </button>
<% end %>
