<% title "Enter TOTP code" %>
<% content_for(:page_class) { "bg-snow" } %>

<% content_for :info_pane do %>
  <%= render partial: "logins/apply_info_pane" %>
<% end %>

<div class="flex flex-col flex-1 justify-center <%= @login.for_application? ? "card" : "max-w-md" %>">
  <div class="flex flex-col justify-between items-start">
    <%= render "logins/header", label: "Sign in to HCB" do %>
      One-time code
    <% end %>

    <%= render "logins/badge", user: @login.user %>
    <%= render partial: "users/login_code_auth_notice" %>
  </div>

  <p class="mt-0">
    <% if @login.authentication_factors_count > 0 %>
      For additional security, e<% else %>E<% end %>nter the code from your authenticator app:
  </p>

  <%= form_tag complete_login_path(@login) do %>
    <% if Flipper.enabled?(:otp_single_input, @login.user) %>
      <%= text_field_tag(
            :code,
            "",
            class: "otp_code",
            autocomplete: "one-time-code",
            required: true,
            autofocus: true,
            inputmode: "numeric",
            maxlength: "6",
            data: { behavior: "otp_input" }
          ) %>
    <% else %>
      <%= text_field_tag(
            :code,
            "",
            placeholder: "Enter your one time password code",
            autocomplete: "one-time-code",
            class: "text-left mb2 !max-w-full w-max",
            required: true,
            autofocus: true
          ) %>
    <% end %>
    <%= invisible_captcha :remember_me %>

    <%= hidden_field_tag :method, :totp %>
    <%= render partial: "logins/fingerprint_info" %>

    <div class="flex flex-row justify-between items-center mt-4">
      <% if @login.available_factors.excluding(:totp).any? %>
        <%= link_to "Sign in another way", choose_login_preference_login_path(@login, return_to: @login.return_to), class: "block mt0 no-underline" %>
      <% end %>
      <button type="submit" class="gap-2 btn" data-1p-ignore>
        Continue
      </button>
    </div>
  <% end %>

  <%= javascript_include_tag "otp.js", defer: true %>
  <%= render partial: "logins/environment_banner" %>
</div>
<%= render partial: "logins/footer" %>
