<% title "Account Numbers" %>

<%= form_with method: :get, class: "card overflow-visible" do |form| %>
  <div class="flex flex-col sm:flex-row items-center gap-2">
    <%= render "events/filters/search", form: %>
    <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
    <%= form.select :account_number_type, [["All", "0"], ["Deposit only", "1"], ["Spend + Deposit", "2"]], selected: @account_number_type %>
  </div>
  <div class="flex items-center mt-2">
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @account_numbers, entry_name: "Account Number" %>
  </div>
  <%= paginate @account_numbers %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Event</th>
      <th>Account Number</th>
      <th>Routing Number</th>
      <th>Deposit Only</th>
    </tr>
  </thead>
  <tbody>
    <% events_by_id = Event.with_deleted.where(id: @account_numbers.map(&:event_id)).index_by(&:id) %>
    <% @account_numbers.each do |an| %>
      <tr>
        <td><%= an.id %></td>
        <td>
          <% event = events_by_id[an.event_id] %>
          <%= link_to event_path(event) do %>
            <%= event.name.upcase %>
          <% end %>
          (#<%= event.id %>)
          <% if event.deleted? %>
            <em>(deleted)</em>
          <% end %>
        </td>
        <td><%= an.account_number %></td>
        <td><%= an.routing_number %></td>
        <td><%= an.deposit_only ? "✅" : "🚫" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
