<% title "Checks" %>

<%= form_with local: true, class: "card overflow-visible", url: checks_admin_index_path, method: :get do |form| %>
  <div class="flex flex-col sm:flex-row items-center gap-2">
    <%= form.text_field :q, value: params[:q], placeholder: "Search", class: "!max-w-full w-full" %>
    <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
  </div>
  <div class="flex items-center mt-2 gap-4 flex-wrap">
    <%= form.label :in_transit do %>
      <%= form.check_box :in_transit, checked: @in_transit %> In Transit
    <% end %>
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @checks, entry_name: "check" %>
  </div>
  <%= paginate @checks %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-24">ID</th>
      <th class="w-32">Date</th>
      <th>Event</th>
      <th>Recipient</th>
      <th>Check Number</th>
      <th class="w-32">Amount</th>
      <th>Status</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @checks.each do |check| %>
      <tr class="<%= "admin-bg-pending" if check.in_transit? %> <%= "admin-bg-transit" if check.in_transit_and_processed? %>">
        <td><%= check.id %></td>
        <td>
          <%= check.created_at.strftime("%Y-%m-%d") %>
          <% if check.pending_expired? %>
            <span>⚠️ (Overdue)</span>
          <% end %>
        </td>
        <td><%= check.event.name.upcase %></td>
        <td><%= check.recipient_name %></td>
        <td><%= check.check_number || "-----" %></td>
        <td><%= render_money_amount(check.amount) %></td>
        <td><%= check.aasm_state.upcase %></td>
        <td>
          <%= link_to "View", check_path(check) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @checks %>
