<% title "Disbursements" %>

<%= form_with local: true, class: "card overflow-visible", url: disbursements_admin_index_path, method: :get do |form| %>
  <div class="flex flex-col sm:flex-row items-center gap-2">
    <%= render "events/filters/search", form: %>
    <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
  </div>
  <div class="flex items-center mt-2 gap-4 flex-wrap">
    <%= form.label :reviewing do %>
      <%= form.check_box :reviewing, checked: @reviewing %> Reviewing
    <% end %>
    <%= form.label :pending do %>
      <%= form.check_box :pending, checked: @pending %> Pending
    <% end %>
    <%= form.label :processing do %>
      <%= form.check_box :processing, checked: @processing %> Processing
    <% end %>
    <%= form.submit "Search", class: "ml-auto" %>
    <%= link_to disbursement_new_admin_index_path do %>
      <button class="btn bg-primary" type="button">New Disbursement</button>
    <% end %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @disbursements, entry_name: "disbursements" %>
  </div>
  <%= paginate @disbursements %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @disbursements.each do |disbursement| %>
      <tr class="<%= "admin-bg-transit" if disbursement.pending? %><%= "admin-bg-pending" if disbursement.reviewing? %>">
        <td><%= disbursement.id %></td>
        <td><%= disbursement.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <%= link_to disbursement_path(disbursement) do %>
            <%= disbursement.source_event.name.upcase %>: <%= disbursement.name %>
          <% end %>
        </td>
        <td><%= render_money_amount(disbursement.amount) %></td>
        <td>
          <%= disbursement.aasm.human_state %>
          <% if disbursement.pending_expired? %>
            <span>⚠️ (Overdue)</span>
          <% end %>
        </td>
        <td>
          <% if disbursement.pending? %>
            AUTOMATED
          <% end %>

          <%= link_to(disbursement_process_admin_path(disbursement)) do %>
            <% if disbursement.reviewing? %>
              Process
            <% else %>
              View
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @disbursements %>
