<% title "Fee Revenues" %>

<div class="mb3">
  <h3>Uncharged Fee Balance: <%= render_money @total_pending_fees %></h3>

  <details>
    <summary>View breakdown by organization (<%= @uncharged_fees_events.count %> organizations)</summary>

    <table class="mt2">
      <thead>
        <tr>
          <th>Organization</th>
          <th>Fee Balance</th>
        </tr>
      </thead>
      <tbody>
        <% @uncharged_fees_events.each do |item| %>
          <tr>
            <td><%= link_to item[:event].name, event_path(item[:event]) %></td>
            <td><%= render_money item[:balance] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </details>
</div>

<hr class="mb3">

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @fee_revenues, entry_name: "fee revenues" %>
  </div>
  <%= paginate @fee_revenues %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Status</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Amount</th>
      <th>HCB Code</th>
    </tr>
  </thead>
  <tbody>
    <% @fee_revenues.each do |fee_revenue| %>
      <tr>
        <td><%= fee_revenue.id %></td>
        <td><%= fee_revenue.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= fee_revenue.aasm_state %></td>
        <td><%= fee_revenue.start&.strftime("%Y-%m-%d") %></td>
        <td><%= fee_revenue.end&.strftime("%Y-%m-%d") %></td>
        <td><%= render_money_amount(fee_revenue.amount_cents) %></td>
        <td><%= link_to fee_revenue.hcb_code, hcb_code_path(fee_revenue.hcb_code) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @fee_revenues %>
