<% title "Invoices" %>

<%= form_with local: true, class: "card overflow-visible", url: invoices_admin_index_path, method: :get do |form| %>
  <div class="flex flex-col sm:flex-row items-center gap-2">
    <%= render "events/filters/search", form: %>
    <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
  </div>
  <div class="flex items-center mt-2 gap-4 flex-wrap">
    <%= form.label :open do %>
      <%= form.check_box :open, checked: @open %> Open
    <% end %>
    <%= form.label :paid do %>
      <%= form.check_box :paid, checked: @paid %> Paid
    <% end %>
    <%= form.label :missing_payout do %>
      <%= form.check_box :missing_payout, checked: @missing_payout %> Missing Payout
    <% end %>
    <%= form.label :missing_fee_reimbursement do %>
      <%= form.check_box :missing_fee_reimbursement, checked: @missing_fee_reimbursement %> Missing Fee Reimbursement
    <% end %>
    <%= form.label :past_due do %>
      <%= form.check_box :past_due, checked: @past_due %> Past due
    <% end %>
    <%= form.label :voided do %>
      <%= form.check_box :voided, checked: @voided %> Voided
    <% end %>
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @invoices, entry_name: "invoices" %>
  </div>
  <%= paginate @invoices %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-24">ID</th>
      <th class="w-32">Date</th>
      <th>Recipient</th>
      <th>Stripe Invoice Number</th>
      <th class="w-32">Amount</th>
      <th class="w-24">Status</th>
      <th class="w-32">FeeReimbursementId</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr class="<%= "admin-bg-pending" if invoice.open? %>">
        <td><%= invoice.id %></td>
        <td>
          <%= invoice.created_at.strftime("%Y-%m-%d") %>
          <% if invoice.pending_expired? %>
            <span>⚠️ (Overdue)</span>
          <% end %>
        </td>
        <td>
          <%= link_to invoice_path(invoice) do %>
            <%= invoice.event.name.upcase %>: <%= invoice.sponsor.name %>
          <% end %>
        </td>
        <td><%= link_to invoice.number, invoice.stripe_dashboard_url %></td>
        <td><%= render_money_amount(invoice.amount_due) %></td>
        <td><%= invoice.status.upcase %></td>
        <td><%= invoice.fee_reimbursement_id %></td>
        <td>
          <%= link_to "Process", invoice_process_admin_path(invoice.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @invoices %>
