<% title "Ledger" %>

<%= form_with local: true, url: ledger_admin_index_path, method: :get, class: "card overflow-visible" do |form| %>
  <div class="flex flex-col sm:flex-row items-center mt-1 gap-2">
    <%= render "events/filters/search", form: %>
    <%= form.text_field :amount, value: params[:amount], placeholder: "Amount (¢)", class: "!max-w-full sm:!max-w-[200px]" %>
    <div class="flex flex-col sm:flex-row shrink-0 gap-2 -mt-1 w-full sm:w-[unset]">
        <%= combobox_tag :user_id, user_search_admin_index_path, placeholder: "User", class: "!max-w-full !min-w-full sm:!min-w-56", value: @user&.to_combobox_display %>
        <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-56", value: @event&.to_combobox_display %>
    </div>
  </div>

  <div class="flex items-center mt-2 gap-4 flex-wrap">
    <fieldset class="flex gap-4 items-center">
        <%= form.label :unmapped do %>
        <%= form.check_box :unmapped, checked: @unmapped %>
        Unmapped
        <% end %>

        <%= form.label :exclude_top_ups do %>
        <%= form.check_box :exclude_top_ups, checked: @exclude_top_ups %>
        Exclude Top Ups
        <% end %>

        <%= form.label :exclude_spending do %>
        <%= form.check_box :exclude_spending, checked: @exclude_spending %>
        Exclude Spending
        <% end %>

        <%= form.label :mapped_by_human do %>
        <%= form.check_box :mapped_by_human, checked: @mapped_by_human %>
        Mapped by Human
        <% end %>
    </fieldset>
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @canonical_transactions, entry_name: "transactions" %>
  </div>
  <%= paginate @canonical_transactions %>
</div>

<%= form_with local: true, url: set_event_multiple_transactions_path, method: :post do |form| %>
  <table>
    <thead>
      <tr>
        <th class="w-8"></th>
        <th class="w-32">ID</th>
        <th class="w-32">Date</th>
        <th>Memo</th>
        <th>Bank account</th>
        <th class="w-24">Amount</th>
        <th clas="w-64">HCB Code</th>
        <th class="w-24">Event</th>
        <th class="w-24">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @canonical_transactions.each do |ct| %>
        <tr class="<%= "admin-bg-pending" unless ct.canonical_event_mapping || !ct.local_hcb_code.unknown? || ct.memo.include?("BUSBILLPAY") %>">
          <td>
            <%= form.check_box ct.id %>
          </td>
          <td><%= ct.id %></td>
          <td><%= ct.date %></td>
          <td><%= link_to ct.memo, transaction_path(ct) %></td>
          <td><%= ct.bank_account_name %></td>
          <td class="nowrap"><%= ct.amount.format %></td>
          <td><%= ct.hcb_code %></td>
          <td><%= link_to ct.canonical_event_mapping.event.id, ct.canonical_event_mapping.event if ct.canonical_event_mapping.try(:event) %></td>
          <td>
            <%= link_to "Process", transaction_admin_path(ct) unless ct.event.present? %>
            <%= link_to "View", transaction_admin_path(ct) if ct.event.present? %>
            <% if !ct.event.present? && ct.memo.include?("BUSBILLPAY") %>
              <br>
              🕐 This ACH should auto-map within 24 hours
            <% end %>

            <% if ct.canonical_event_mapping.try(:user) %>
              <br>
              <%= ct.canonical_event_mapping.try(:user).try(:email) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @canonical_transactions.empty? %>
    <%= blankslate "No transactions match your search parameters" %>
  <% end %>

  <div class="flex mt-2 gap-2 items-center justify-end">
      <%= combobox_tag "event_id", event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !w-56" %>
      <%= form.submit "Bulk Map to Event", "data-turbo-confirm": "Are you sure you want to bulk map these transactions?" %>
  </div>
<% end %>

<%= paginate @canonical_transactions %>
