<% title "PayPal Transfers" %>

<%= form_with local: true, class: "card overflow-visible", url: paypal_transfers_admin_index_path, method: :get do |form| %>
  <div class="flex flex-col sm:flex-row items-center gap-2">
    <%= render "events/filters/search", form: %>
    <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
  </div>
  <div class="flex items-center mt-2">
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @paypal_transfers, entry_name: "transfers" %>
  </div>
  <%= paginate @paypal_transfers %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-24">ID</th>
      <th class="w-32">Date</th>
      <th>Event</th>
      <th>Recipient</th>
      <th class="w-32">Amount</th>
      <th>Status</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @paypal_transfers.each do |paypal_transfer| %>
      <tr class="<%= "admin-bg-pending" if paypal_transfer.pending? %>">
        <td><%= paypal_transfer.id %></td>
        <td><%= paypal_transfer.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= paypal_transfer.event.name %></td>
        <td><%= paypal_transfer.recipient_name %></td>
        <td><%= render_money(paypal_transfer.amount) %></td>
        <td><%= paypal_transfer.aasm.human_state %></td>
        <td>
          <%= link_to "View", hcb_code_path(paypal_transfer.hcb_code) %>
          <%= link_to "Process", paypal_transfer_process_admin_path(paypal_transfer) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @paypal_transfers %>
