<% title "Pending Ledger" %>

<%= form_with local: true, class: "card overflow-visible", url: pending_ledger_admin_index_path, method: :get do |form| %>
    <div class="flex flex-col sm:flex-row items-center gap-2">
        <%= render "events/filters/search", form: %>
        <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
    </div>
    <div class="flex items-center mt-2 gap-4 flex-wrap">
        <%= form.label :unsettled do %>
            <%= form.check_box :unsettled, checked: @unsettled %> Unsettled
        <% end %>
        <%= form.submit "Search", class: "ml-auto" %>
    </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @canonical_pending_transactions, entry_name: "transactions" %>
  </div>
  <%= paginate @canonical_pending_transactions %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>HCB Code</th>
      <th>Event</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @canonical_pending_transactions.each do |cpt| %>
      <tr class="<%= "admin-bg-pending" if cpt.unsettled? %>">
        <td><%= cpt.id %></td>
        <td>
          <%= cpt.date %>
          <% if cpt.pending_expired? %>
            <span>⚠️ (Overdue)</span>
          <% end %>
        </td>
        <td>
          <% if cpt.event %>
            <%= link_to cpt.memo, cpt.local_hcb_code %>
          <% else %>
            <%= cpt.memo %>
          <% end %>
        </td>
        <td><%= cpt.amount %></td>
        <td><%= cpt.hcb_code %></td>
        <td><%= cpt.event.try(:id) %></td>
        <td>
          <%= render(
                partial: "hcb_codes/transaction_category_form",
                locals: { model: cpt, admin_context: true }
              ) %>
        </td>
        <td>
          <%#= link_to "Process", transaction_admin_path(cpt) unless cpt.event.present? %>
          <%#= link_to "View", transaction_admin_path(cpt) if cpt.event.present? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @canonical_pending_transactions %>
