<% title "Reimbursements" %>

<%= form_with local: true, class: "card overflow-visible", url: reimbursements_admin_index_path, method: :get do |form| %>
  <div class="flex flex-col sm:flex-row items-center gap-2">
    <%= render "events/filters/search", form: %>
    <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
  </div>
  <div class="flex items-center mt-2 gap-4 flex-wrap">
    <%= form.label :pending do %>
      <%= form.check_box :pending, checked: @pending %> Reimbursement Requested (Awaiting Review)
    <% end %>
    <%= form.label :failed do %>
      <%= form.check_box :failed, checked: @failed %> Payout holding failed
    <% end %>
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @reports, entry_name: "reports" %>
  </div>
  <%= paginate @reports %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Organization</th>
      <th>Title</th>
      <th>User</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr class="<%= "admin-bg-pending" if report.reimbursement_requested? %> <%= "admin-bg-orange" if report.id.in?(@unprocessed_wise_report_ids) %> <%= "admin-bg-warning" if report.payout_holding&.failed? %>">
        <td class="w-16"><%= report.id %></td>
        <td class="w-32"><%= report.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <% if report.event %>
            <%= link_to event_path(report.event) do %>
              <%= report.event.name.upcase %>
            <% end %>
          <% else %>
            None
          <% end %>
        </td>
        <td class="max-w-lg">
          <%= link_to reimbursement_report_path(report) do %>
            <%= report.name %>
          <% end %>
        </td>
        <td>
          <%= report.user.name %> (<%= report.user.id %>)
        </td>
        <td class="w-24"><%= report.amount.format %></td>
        <td>
          <%= report.admin_status_text %>
          <% if report.reimbursement_requested? %>
            <br>
            <small>
              since <%= format_date report.reimbursement_requested_at %>
            </small>
          <% end %>
        </td>
        <td>
          <%= link_to "View", reimbursement_report_path(report) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reports %>
