<% title "Sponsors" %>

<%= form_with local: true, class: "card overflow-visible", url: sponsors_admin_index_path, method: :get do |form| %>
  <div class="flex flex-col sm:flex-row items-center gap-2">
    <%= render "events/filters/search", form: %>
    <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
  </div>
  <div class="flex items-center mt-2 gap-4 flex-wrap">
    <%= form.label :open do %>
      <%= form.check_box :open, checked: @open %> Open
    <% end %>
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @sponsors, entry_name: "sponsors" %>
  </div>
  <%= paginate @sponsors %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Name</th>
      <th>StripeCustomerId</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.id %></td>
        <td><%= sponsor.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= sponsor.event.name.upcase %>: <%= sponsor.name %></td>
        <td><%= link_to sponsor.stripe_customer_id, sponsor.stripe_dashboard_url %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sponsors %>
