<% title "Wires" %>

<%= form_with local: true, class: "card overflow-visible", url: wires_admin_index_path, method: :get do |form| %>
  <div class="flex flex-col sm:flex-row items-center gap-2">
    <%= render "events/filters/search", form: %>
    <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
  </div>
  <div class="flex items-center mt-2">
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @wires, entry_name: "transfers" %>
  </div>
  <%= paginate @wires %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-24">ID</th>
      <th class="w-32">Date</th>
      <th>Event</th>
      <th>Recipient</th>
      <th>Sent by</th>
      <th>Sent with Column</th>
      <th class="w-32">Amount</th>
      <th>Status</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @wires.each do |wire| %>
      <tr class="<%= "admin-bg-pending" if wire.pending? %>">
        <td><%= wire.id %></td>
        <td><%= wire.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= wire.event.name %></td>
        <td><%= wire.recipient_name %></td>
        <td><%= wire.last_user_change_to(aasm_state: :approved)&.name || "None / unknown" %></td>
        <td><%= wire.column_id.present? ? "TRUE" : "FALSE" %></td>
        <td><%= Money.from_cents(wire.amount_cents, wire.currency).format %></td>
        <td><%= wire.aasm.human_state %></td>
        <td>
          <%= link_to "View", hcb_code_path(wire.hcb_code) %>
          <%= link_to "Process", wire_process_admin_path(wire) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @wires %>
