<% title "Wise Transfers" %>

<%= form_with local: true, class: "card overflow-visible", url: wise_transfers_admin_index_path, method: :get do |form| %>
  <div class="flex flex-col sm:flex-row items-center gap-2">
    <%= render "events/filters/search", form: %>
    <%= combobox_tag :event_id, event_search_admin_index_path, placeholder: "Event", class: "!max-w-full !min-w-full sm:!min-w-72", value: @event&.to_combobox_display %>
    <%= form.collection_select(:status, WiseTransfer.aasm.states, :name, :human_name, { include_blank: "Filter by status", selected: @status }) %>
  </div>
  <div class="flex items-center mt-2">
    <%= form.submit "Search", class: "ml-auto" %>
  </div>
<% end %>

<div class="flex items-center mb2 flex-col sm:flex-row">
  <div class="flex-grow">
    <%= page_entries_info @wise_transfers, entry_name: "transfers" %>
  </div>
  <%= paginate @wise_transfers %>
</div>

<table>
  <thead>
    <tr>
      <th class="w-24">ID</th>
      <th class="w-32">Date</th>
      <th>Event</th>
      <th>Recipient</th>
      <th class="w-32">Amount</th>
      <th>Status</th>
      <th class="w-24">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @wise_transfers.each do |wise_transfer| %>
      <tr class="<%= "admin-bg-pending" if wise_transfer.pending? %> <%= "admin-bg-transit" if wise_transfer.approved? %>">
        <td><%= wise_transfer.id %></td>
        <td><%= wise_transfer.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= wise_transfer.event.name %></td>
        <td><%= wise_transfer.recipient_name %></td>
        <td><%= Money.from_cents(wise_transfer.amount_cents, wise_transfer.currency).format %></td>
        <td><%= wise_transfer.aasm.human_state %></td>
        <td>
          <%= link_to "View", hcb_code_path(wise_transfer.hcb_code) %>
          <%= link_to "Process", wise_transfer_process_admin_path(wise_transfer) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @wise_transfers %>
