<% title "Tax info for #{@legal_entity.name}" %>

<h1>Tax info for <%= @legal_entity.name %></h1>

<% if @legal_entity.latest_tax_form&.completed? %>
  <% if @legal_entity.payable? %>
    <p>
      You're all set! <%= @legal_entity.person? ? "You" : (@legal_entity.name.presence || "Business") %>
      can receive payments from any organization on HCB.

      <% if @legal_entity.default_payout_method.nil? %>
        Next, configure your default payout method.
      <% else %>
        If you'd like, review your default payout method.
      <% end %>
    </p>

    <%= link_to "Payout settings", settings_payouts_path, class: "btn" %>

  <% elsif @legal_entity.tin_banned? %>
    <p>
      <%= @legal_entity.person? ? "You have" : "#{@legal_entity.name.presence || "Business"} has" %>
      been banned from receiving payments from organizations on HCB.
    </p>
  <% else %>
    <p>
      Your submission for <%= @legal_entity.person? ? "your" : "#{@legal_entity.name.presence || "Business"}'s" %>
      tax information is invalid.
    </p>

    <%= button_to "Start new tax form", tax_forms_path, params: { legal_entity_id: @legal_entity.hashid }, class: "btn" %>
  <% end %>
<% elsif @legal_entity.latest_tax_form.nil? || @legal_entity.latest_tax_form.failed? %>
  <p>
    Before <%= @legal_entity.person? ? "you" : (@legal_entity.name.presence || "Business") %>
    can receive any payments, we'll need your tax information.
  </p>

  <%= button_to "Start new tax form", tax_forms_path, params: { legal_entity_id: @legal_entity.hashid }, class: "btn" %>
<% else %>
  <p>
    Finish filling in <%= @legal_entity.person? ? "your" : "#{@legal_entity.name.presence || "Business"}'s" %>
    tax information before you can receive payments from organizations on HCB.
  </p>

  <%= link_to "Go to tax form", tax_form_path(@legal_entity.latest_tax_form), class: "btn" %>
<% end %>
