<% title "Payment information for #{@legal_entity.name}" %>

<h1>Payment information for <%= @legal_entity.name %></h1>

<% if @legal_entity.latest_tax_form&.completed? %>
  <% if @legal_entity.payable? %>
    <% if @legal_entity.default_payout_method.present? %>
      <p>
        You're all set! <%= @legal_entity.person? ? "You" : (@legal_entity.name.presence || "Business") %>
        can now receive payments from any organization on HCB.
        <% if (under_review_count = @legal_entity.payments.under_review.count) > 0 %>
          Once your <%= "payment".pluralize(under_review_count) %> <%= under_review_count == 1 ? "is" : "are" %>
          approved by HCB, we'll send <%= under_review_count == 1 ? "it" : "them" %> using your default payout method.
        <% end %>
        If you'd like, review your payout methods.
      </p>

      <p>You can see all of your payments in the <%= link_to "Pay tab", my_pay_path(legal_entity_id: @legal_entity.id) %>.</p>
    <% else %>
      <p>
        You're almost there - just add a payout method below!
      </p>
    <% end %>

    <%= render "users/payout_methods_list", user: current_user, legal_entity: @legal_entity %>

  <% elsif @legal_entity.tin_banned? %>
    <p>
      <%= @legal_entity.person? ? "You have" : "#{@legal_entity.name.presence || "Business"} has" %>
      been banned from receiving payments from organizations on HCB.
    </p>
  <% else %>
    <p>
      Your submission for <%= @legal_entity.person? ? "your" : "#{@legal_entity.name.presence || "Business"}'s" %>
      tax information is invalid.
    </p>

    <%= button_to "Start tax form", tax_forms_path, params: { legal_entity_id: @legal_entity.hashid }, class: "btn" %>
  <% end %>
<% elsif @legal_entity.latest_tax_form.nil? || @legal_entity.latest_tax_form.failed? %>
  <p>
    Before <%= @legal_entity.person? ? "you" : (@legal_entity.name.presence || "Business") %>
    can receive any payments, we'll need your tax information. This information is stored
    securely and used to send you tax forms at the end of the year if your total payments
    exceed IRS reporting requirements.
  </p>

  <%= button_to "Start tax form", tax_forms_path, params: { legal_entity_id: @legal_entity.hashid }, class: "btn" %>
<% else %>
  <p>
    Finish filling in <%= @legal_entity.person? ? "your" : "#{@legal_entity.name.presence || "Business"}'s" %>
    tax information before you can receive payments from organizations on HCB.
  </p>

  <%= link_to "Go to tax form", tax_form_path(@legal_entity.latest_tax_form), class: "btn" %>
<% end %>
