<% @destination = @hcb_code.disbursement.destination_event %>
<% @source = @hcb_code.disbursement.source_event %>
<% @subledger = @hcb_code.disbursement.destination_subledger || @hcb_code.disbursement.source_subledger %>

<article class="hcb-code">
  <%= render "hcb_codes/heading", hcb_code: @hcb_code do %>
    <span>
      <%= @source.name %>
      <span class="regular muted">
        <% if @hcb_code.disbursement.fulfilled? || (@destination.can_front_balance? && (@hcb_code.disbursement.processed? || @hcb_code.disbursement.pending?)) %>
          transferred
        <% elsif @hcb_code.disbursement.processed? || @hcb_code.disbursement.pending? %>
          transferring
        <% else %>
          transfer of
        <% end %>
      </span>
      <span class="regular"><%= render_money @hcb_code.disbursement.amount %></span>
      <span class="regular muted">to</span>
      <%= @destination.name %>
    </span>
    <span class="badge h4 bg-<%= @hcb_code.disbursement.state %> order-1">
      <%= @hcb_code.disbursement.state_text.humanize %>
      <%= inline_icon @hcb_code.disbursement.state_icon, size: 20 if @hcb_code.disbursement.state_icon %>
    </span>
  <% end %>

  <section class="hcb-code--details">
    <% unless @hcb_code.disbursement.requested_by.nil? %>
      <div>
        <% if @hcb_code.disbursement.reviewing? || @hcb_code.disbursement.rejected? %>
          <strong>Requested by</strong>
        <% else %>
          <strong>Sent by</strong>
        <% end %>
        <%= user_mention @hcb_code.disbursement.requested_by %>
      </div>
    <% end %>

    <% unless @hcb_code.disbursement.fulfilled_by.nil? %>
      <% admin_tool("", "div") do %>
        <strong>Fulfilled by</strong>
        <%= user_mention @hcb_code.disbursement.fulfilled_by %>
      <% end %>
    <% end %>

    <% if @hcb_code.disbursement.processed? %>
      <div>
        <strong>Transferred at</strong>
        <%= format_datetime @hcb_code.disbursement.transferred_at %>
      </div>
    <% else %>
      <div>
        <strong>Requested at</strong>
        <%= format_datetime @hcb_code.disbursement.created_at %>
        <% if @hcb_code.disbursement.scheduled_on.present? && !@hcb_code.disbursement.processed? %>
          <% admin_tool("", "div") do %>
            <strong>Scheduled at</strong>
            <%= @hcb_code.disbursement.scheduled_on.strftime("%B %e, %Y") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% admin_tool("", "div") do %>
      <strong>Disbursement ID</strong>
      <%= link_to @hcb_code.disbursement.id, @hcb_code.disbursement %>
    <% end %>

  </section>

  <section class="hcb-code--info">
    <% if @subledger&.card_grant.present? %>
      <p>
        <strong>Event</strong>
        <%= link_to @destination.name, @destination %>
      </p>
      <p>
        <strong>Grant</strong>
        <%= link_to "Grant to #{@subledger.card_grant.user.name}", card_grant_path(@subledger.card_grant) %>
      </p>
    <% else %>
      <p>
        <strong>From</strong>
        <%= link_to @source.name, @source, target: "_top" %>
      </p>

      <p>
        <strong>To</strong>
        <%= link_to @destination.name, @destination, target: "_top" %>
      </p>
    <% end %>

    <p>
      <strong>Reason</strong>
      <%= @hcb_code.disbursement.name %>
    </p>

    <% if @hcb_code.disbursement.fulfilled? %>
      <p>
        <strong>Confirmation letter</strong>
          <span class="muted">
            <a href="/disbursements/<%= @hcb_code.disbursement.id %>/confirmation.pdf" target="_blank">
            <%= "View confirmation letter" %>
            </a>
          </span>
      </p>
    <% end %>

    <%= render "hcb_codes/tags", hcb_code: @hcb_code, event: @event || @hcb_code.event %>

  </section>

  <% if @event.can_front_balance? %>
    <section class="hcb-code--footer">
      <% if @hcb_code.disbursement.may_mark_rejected? %>
        <% admin_tool "w-fit" do %>
          <%= button_to "Process", disbursement_process_admin_path(@hcb_code.disbursement), class: "btn", method: :get, data: { turbo_frame: "_top" } %>
        <% end %>
      <% end %>

      <% if @hcb_code.disbursement.scheduled? %>
        <% admin_tool "w-fit" do %>
          <%= button_to "Cancel transfer", disbursement_cancel_path(@hcb_code.disbursement), class: "btn bg-error" %>
        <% end %>
      <% end %>

      <p class="my0 italic">
        HCB transfers are immediately reflected in your account balance.
      </p>
    </section>
  <% end %>

</article>
