<p>Hello,</p>

<p>
  <%= @position.payee.display_name %> submitted an invoice to <%= @event.name %> for
  <%= @invoice.amount.format(with_currency: true) %>.
</p>

<ul>
  <li><strong>Contractor:</strong> <%= @position.payee.display_name %> (<%= @position.payee.email %>)</li>
  <li><strong>Position:</strong> <%= @position.title %></li>
  <li><strong>Description:</strong> <%= @invoice.name %></li>
  <% if @invoice.description.present? %>
    <li><strong>Notes:</strong> <%= @invoice.description %></li>
  <% end %>
  <li><strong>Amount:</strong> <%= @invoice.amount.format(with_currency: true) %></li>
</ul>

<p>
  <%= link_to "Review this invoice on HCB", event_payroll_position_url(event_id: @event.slug, id: @position) %>
</p>

<p>
  Sincerely,
  <br><br>
  The HCB Team
</p>
