<p>Hello,</p>

<p>
  <%= @event.name %> is looking to onboard you as a contractor for the <%= @position.title %> position!
</p>

<p>
  <%= link_to "Click here", onboarding_payroll_position_url(@position) %> to review your position, sign your contractor agreement, and complete your onboarding.
</p>

<p>
  If you have any questions, please contact <%= @event.name %>.
</p>

<p>
  Sincerely,
  <br><br>
  The HCB Team
</p>

<p><i class="muted"><%= @event.name %> is fiscally sponsored by The Hack Foundation (d.b.a. HCB), a 501(c)(3) nonprofit (EIN: 81-2908499).</i></p>
