<%= render "users/mobile_nav", selected: local_assigns[:selected] %>
<% content_for(:header) do %>
  <div class="flex items-center gap-3 lg:mb-2 lg:pt-4">
    <%= render partial: "logo" %>
    <h3 class="my-0">HCB</h3>
  </div>
<% end %>

<% content_for(:nav) do %>
  <div class="mt-3 mb-3">
    <button
      class="command-bar-trigger"
      style="border-radius: 8px;box-shadow: none;"
      data-behavior="command_bar_trigger">
      <span class="flex-grow text-left font-medium opacity-75">Jump to...</span>
      <span class="key opacity-75 <%= request.user_agent.to_s.upcase.include?("MAC") ? "w-6" : "w-9" %> rounded-md mr-1 text-sm">
        <%= request.user_agent.to_s.upcase.include?("MAC") ? "⌘" : "Ctrl" %>
      </span>
      <span class="key opacity-75 w-6 rounded-md text-sm">
        K
      </span>
    </button>
  </div>

  <nav class="dock font-medium mt1">
    <% users_mobile_nav(selected: local_assigns[:selected]).each do |item| %>
      <%= dock_item item[:name],
        item[:path],
        tooltip: item[:tooltip],
        icon: item[:icon],
        async_badge: item[:async_badge],
        selected: item[:selected] %>
    <% end %>
    <div>
      <%= render "users/settings_dropdown", local_assigns: { selected: local_assigns[:selected], user: current_user, open: @user == current_user && local_assigns[:selected].to_s.starts_with?("settings") } %>
    </div>
    <% if @user && @user != current_user && local_assigns[:selected].to_s.starts_with?("settings") %>
      <span class="mx-1 dock__section"><%= @user.possessive_name %> Settings</span>
      <hr class="opacity-80 border-none h-[1px] bg-gray-200">
      <div>
        <%= render "users/settings_dropdown", local_assigns: { selected: local_assigns[:selected], user: @user, open: true } %>
      </div>
    <% end %>
  </nav>

  <% if (current_user.events.not_demo_mode.funded.exists? || current_user.card_grants.any? || current_user.reimbursement_reports.any?) && Flipper.enabled?(:bank_wrapped, current_user) %>
    <div id="bank-wrapped-dialog" style="display: none;">
      <article role="alertdialog" class="flash flex items-center mt2 mb1 mx-auto shrink-none cursor-pointer" onclick="document.getElementById('bank-wrapped-link').click()" style="background-color: #ec3750; background-image: url('https://hc-cdn.hel1.your-objectstorage.com/s/v3/bbb7dea5a991c5fa_frame_1__16_.svg'); background-size: 300px; background-position: 0px -10px; background-repeat: repeat; color: white;">
        <span class="flex-auto flex justify-between items-center">
          <span>Check out your <a href="/wrapped" target="_blank" class="primary nowrap" style="color: white;" id="bank-wrapped-link"><strong>HCB Wrapped</strong></a> for <%= Metric.year %>!</span>
        </span>
        <svg onclick="(localStorage.setItem('hide_hcb_wrapped_2025', 'true'), document.getElementById('bank-wrapped-dialog').remove())" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" aria-label="view-close" clip-rule="evenodd" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" class="pointer" style=""><g><path d="M11.121,9.707c-0.39,-0.391 -1.024,-0.391 -1.414,0c-0.391,0.39 -0.391,1.024 0,1.414l4.95,4.95l-4.95,4.95c-0.391,0.39 -0.391,1.023 0,1.414c0.39,0.39 1.024,0.39 1.414,0l4.95,-4.95l4.95,4.95c0.39,0.39 1.023,0.39 1.414,0c0.39,-0.391 0.39,-1.024 0,-1.414l-4.95,-4.95l4.95,-4.95c0.39,-0.39 0.39,-1.024 0,-1.414c-0.391,-0.391 -1.024,-0.391 -1.414,0l-4.95,4.95l-4.95,-4.95Z"></path></g></svg>
      </article>
    </div>

    <script>
      if (localStorage.getItem('hide_hcb_wrapped_2025') !== 'true') {
        document.getElementById('bank-wrapped-dialog').style.display = 'block';
      }
    </script>
  <% end %>

  <% if (current_user.is_teenager? && current_user.only_card_grant_user?) %>
    <%= render partial: "users/card_grant_conversion_callout" %>
  <% end %>
<% end %>

<% content_for(:nav_footer) do %>
  <div style="border-top: 1px solid;border-bottom:1px solid" class="!border-gray-200 dark:!border-neutral-700 flex flex-col h-full p-0 w-[288px]">
    <% if @activities %>
      <h4 class="p-3 pb-2 w-100 mb0 text-left mt-0 activity">
        <span class="flex items-center w-100 justify-center">
            <span>Recent activity</span>
            <% if auditor_signed_in? %>
              <%= link_to toggle_admin_activities_path, data: { turbo_frame: "activities-1", turbo: true, turbo_method: :post } do %>
                <% admin_tool("ml-2 h6 badge bg-muted", style: "padding: 0.25rem 0.625rem; border-radius: 9999px;") do %>
                  👤 <%= User.currently_online.count %>
                <% end %>
              <% end %>
            <% end %>
        </span>
      </h4>
    <% end %>
    <div class="h-full overflow-y-auto px-3">
      <%= render partial: "my/activities" if @activities %>
    </div>
  </div>
<% end %>
