<%= turbo_frame_tag :admin_details_invoices do %>
  <h3 class="mb2 mt1">Invoices</h3>
  <% if @invoices.present? %>
    <table>
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Status</th>
        <th></th>
      </tr>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.id %></td>
          <td><%= render_money invoice.total %></td>
          <td><%= invoice.state_text %></td>
          <td><%= link_to "View", hcb_code_path(invoice.hcb_code), data: { turbo_frame: "_top" } %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @invoices %>
  <% else %>
    <%= blankslate "No invoices" %>
  <% end %>
<% end %>
