<%= turbo_frame_tag :admin_details do %>
  <div class="flex flex-col gap-4">
    <%= turbo_frame_tag :admin_details_missing_receipts, src: admin_details_missing_receipts_user_path(@user), loading: :lazy do %>
      <% admin_tool "p-3" do %>
        <p>Loading user's missing receipts</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <h3 class="mb2 mt1">Organizations</h3>
      <% if @user.events.present? %>
        <ul>
          <% @user.events.each do |event| %>
            <li><%= link_to "#{event.name} (#{render_money(event.balance_v2_cents)})", event_path(event), data: { turbo_frame: "_top" } %></li>
          <% end %>
        </ul>
      <% else %>
        <%= blankslate "No organizations" %>
      <% end %>
    <% end %>

    <% if @user.email_updates.any? %>
      <% admin_tool "p-3" do %>
        <h3 class="mb2 mt1">Email updates</h3>
        <ul>
          <% @user.email_updates.confirmed.order(created_at: :desc).each do | update | %>
            <li>
              <%= update.created_at %>:
              <%= render_audit_log_value("Email", update.original, color: "primary") %> →
              <%= render_audit_log_value("Email", update.replacement, color: "success") %></li>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <%= turbo_frame_tag :admin_details_stripe_cards, src: admin_details_stripe_cards_user_path(@user), loading: :lazy do %>
      <% admin_tool "p-3" do %>
        <p>Loading user's stripe cards</p>
      <% end %>
    <% end %>

    <%= turbo_frame_tag :admin_details_stripe_transactions, src: admin_details_stripe_transactions_user_path(@user), loading: :lazy do %>
      <% admin_tool "p-3" do %>
        <p>Loading user's stripe transactions</p>
      <% end %>
    <% end %>

    <%= turbo_frame_tag :admin_details_emburse_cards, src: admin_details_emburse_cards_user_path(@user), loading: :lazy do %>
      <% admin_tool "p-3" do %>
        <p>Loading user's emburse cards</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_invoices, src: admin_details_invoices_user_path(@user), loading: :lazy do %>
        <p>Loading user's invoices</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_reimbursement_reports, src: admin_details_reimbursement_reports_user_path(@user), loading: :lazy do %>
        <p>Loading user's reimbursement reports</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_check_deposits, src: admin_details_check_deposits_user_path(@user), loading: :lazy do %>
        <p>Loading user's check deposits</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_increase_checks, src: admin_details_increase_checks_user_path(@user), loading: :lazy do %>
        <p>Loading user's increase checks</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_lob_checks, src: admin_details_lob_checks_user_path(@user), loading: :lazy do %>
        <p>Loading user's lob checks</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_ach_transfers, src: admin_details_ach_transfers_user_path(@user), loading: :lazy do %>
        <p>Loading user's ACH transfers</p>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <%= turbo_frame_tag :admin_details_disbursements, src: admin_details_disbursements_user_path(@user), loading: :lazy do %>
        <p>Loading user's disbursements</p>
      <% end %>
    <% end %>

    <% if @permissions_overview.event_graph.present? %>
      <% admin_tool "p-3" do %>
        <h3 class="mb2 mt1">Permissions</h3>

        <ul>
          <% @permissions_overview.event_graph.each do |node| %>
            <%= render(partial: "event_permissions", locals: { node: }) %>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <% admin_tool "p-3" do %>
      <h3 class="mb2 mt1">Applications</h3>
      <% if @applications.any? %>
        <ul>
          <% @applications.each do |application| %>
            <li><%= link_to "#{application.name} (#{application.aasm_state.humanize})", submission_application_path(application), data: { turbo_frame: "_top" } %></li>
          <% end %>
        </ul>
      <% else %>
        <%= blankslate "No applications" %>
      <% end %>
    <% end %>
  </div>
<% end %>
