<% title "Account settings" %>
<% page_md %>
<%= render "users/nav", selected: :settings_reimbursement_payouts %>

<turbo-frame id="settings" autoscroll data-autoscroll-behavior="smooth">
  <%= render "settings_header", active: "payouts", legal_entities: @legal_entities, legal_entity: @legal_entity %>
    <section>
      <% unless @legal_entity != @user.personal_legal_entity %>
        <p class="muted mt0 mb2">
          When a <%= link_to "reimbursement report of yours", my_reimbursements_path, data: { turbo_frame: "_top" } %> is approved, HCB will use the information below to reimburse you. Without this information, you won't be able to submit reimbursement reports. You can update these settings at any time.
          <% if @user.reimbursement_reports.pending.any? %>
            <p>
              Changes made here will apply to all non-reimbursed reports of yours, including your <%= pluralize(@user.reimbursement_reports.pending.count, "pending report") %>.
            </p>
          <% end %>
        </p>
      <% end %>
      <%= render "users/payout_methods_list", user: @user, legal_entity: @legal_entity, attempted: @payout_method %>
    </section>
</turbo-frame>
