<p>Hello <%= @payment.legal_entity.name %>,</p>

<% if @initial %>
  <%= render partial: "initial_message", locals: { payment: @payment } %>
<% else %>
  <p>
    You're one step closer to receiving your payment of <%= @payment.amount.format(with_currency: true) %>
    for <i>"<%= @payment.purpose %>"</i> from <%= @payment.event.name %> through HCB!
  </p>
<% end %>

<p>
  In order to process this payment, please <%= link_to "configure your payout method on HCB", settings_payouts_url %>.
</p>

<p>
  If you have any questions about this payment, please contact <%= @payment.event.name %>.
</p>

<p>
  Sincerely,
  <br><br>
  The HCB Team
</p>

<p><i class="muted"><%= @payment.event.name %> is fiscally sponsored by The Hack Foundation (d.b.a. HCB), a 501(c)(3) nonprofit (EIN: 81-2908499).</i></p>
