<%# locals: (event:, event_follow: nil, new_ledger_active: false, show_ledger_toggle: false) %>

<h1 class="flex items-center gap-4 border-b-0 mb-0 flex-wrap gap-y-2">
  <%= yield %>
  <% admin_tool("badge p-1 gap-1", "span") do %>
    <span class="badge m-0 bg-muted">
      #<%= event.id %>
    </span>
    <span class="badge m-0 bg-muted ml1">
      SL<%= event.service_level %>
    </span>
  <% end %>

  <div class="flex items-center gap-2">
    <% if show_ledger_toggle && organizer_signed_in? %>
      <% if new_ledger_active %>
        <%= link_to event_transactions_path(event, apply_flipper: true), class: "btn flex items-center" do %>
          <%= inline_icon "back" %>
          Go back to the classic ledger
        <% end %>
      <% else %>
        <%= link_to event_ledger_path(event, apply_flipper: true), class: "btn flex items-center" do %>
          <%= inline_icon "wand-stars" %>
          Try the new ledger
        <% end %>
      <% end %>
    <% end %>

    <%= render "events/follow_button", event:, event_follow: %>
    <%= render "events/donations/button", event: %>
  </div>
</h1>
