<% content_for(:header) do %>
  <div class="flex items-center gap-3 mb-2 pt-4">
    <%= render partial: "logo" %>
    <span class="-mx-1.5 text-xl opacity-40">/</span>
    <%= render "events/title" %>
  </div>
<% end %>

<% content_for(:nav) do %>
  <% if !@event&.demo_mode? %>
    <%= render partial: "hcb_codes/create_tag", locals: { button: false } %>
  <% end %>

  <nav class="dock flex mt-4 font-medium">
    <% events_nav(@event, selected: local_assigns[:selected]).each do |item| %>
      <% if item[:section] %>
        <span class="mx-1 dock__section"><%= item[:section] %></span>
        <hr class="opacity-80 border-none h-[1px] bg-gray-200">
      <% elsif item[:dropdown] %>
        <details class="dock" <%= "open" if item[:selected] %>>
          <summary class="dock__item tooltipped tooltipped--e" aria-label="<%= item[:tooltip] %>">
            <%= inline_icon item[:icon], size: 32, style: "padding: 0" %>
            <span class="flex-grow">
              <%= item[:dropdown] %>
            </span>
            <%= inline_icon "up-caret-small", class: "drawer-chevron fill-muted" %>
          </summary>

          <% item[:dropdown_items].each do |dropdown_item| %>
              <%= dock_item dropdown_item[:name],
                  dropdown_item[:path],
                  admin: dropdown_item[:adminTool],
                  tooltip: dropdown_item[:tooltip],
                  selected: dropdown_item[:selected],
                  data: dropdown_item[:data] || {} %>
          <% end %>
        </details>
      <% else %>
        <%= dock_item item[:name],
            item[:path],
            admin: item[:adminTool],
            tooltip: item[:tooltip],
            icon: item[:icon],
            async_badge: item[:async_badge],
            selected: item[:selected],
            data: item[:data] %>
      <% end %>
    <% end %>
  </nav>
<% end %>
<% content_for(:container) do %>
<% end %>
