<%# locals: (title:, support_article: nil, screenshots:, hints:) %>

<div class="grid grid-cols-1 sm:grid-cols-5 min-h-[calc(100vh-60px)] gap-4 sm:gap-20 px-3">
  <div class="flex flex-col justify-center col-span-2">
    <h1 class="heading border-0 mb-0">
      <%= title %>
    </h1>
    <% if support_article.present? %>
      <%= link_to support_article, target: "_blank", class: "-mt-1 mb-2 no-underline inline-flex items-center gap-1" do %>
        Learn more in our help center
        <%= inline_icon "external", size: 24 %>
      <% end %>
    <% end %>

    <div class="-mx-4">
      <% hints.each do |point| %>
        <div class="btn btn--list-item pointer-events-none items-start">
          <%= inline_icon point[:icon], class: "mt-1" %>
          <div>
            <strong><%= point[:title] %></strong>
            <p class="text-sm opacity-60"><%= point[:description] %></p>
          </div>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
  <div class="col-span-3 flex items-center justify-center">
    <div class="card p-0 card--breakdown">
      <img src="<%= screenshots[:light] %>" alt="Illustration" class="w-full h-auto dark:hidden">
      <img src="<%= screenshots[:dark] %>" alt="Illustration" class="w-full h-auto hidden dark:block">
      <% if content_for?(:caption) %>
        <div class="p-2 pt-0 text-center">
          <%= yield(:caption) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
