<% @show_popovers = popovers_enabled? && organizer_signed_in? %>
<% if @event.pinned_hcb_codes.any? %>
  <div class="flex gap-4 my-2 pinned__container">
    <% @event.pinned_hcb_codes.each do |pin| %>
      <%= link_to organizer_signed_in? ? pin.hcb_code : "#", data: @show_popovers ? hcb_code_popover_data(pin.hcb_code.local_hcb_code) : {}, class: "pinned__transaction relative card card-outlined flex flex-col black" do %>
        <% if organizer_signed_in? %>
          <%= form_for(
                pin.hcb_code,
                url: pin_hcb_code_path(pin.hcb_code, event: @event),
                method: :post,
                data: { turbo_confirm: "This will unpin the transaction for all team members. Continue?" }
              ) do |form| %>
            <%= form.button(
                  type: "submit",
                  class: "pinned__transaction__pin pointer pop tooltipped tooltipped--w",
                  aria: { label: "Unpin" },
                  style: "margin-left: auto",
                  onclick: "event.stopPropagation()"
                ) do %>
              <%= inline_icon "pin-remove", size: 28 %>
            <% end %>
          <% end %>
        <% end %>

        <p class="font-bold m0 flex items-center g2">
          <%= format_date pin.hcb_code.date %>
          <% if pin.hcb_code.canonical_transactions.none? %>
            <% if pin.hcb_code.pt&.declined? %>
              <%= badge_for "Declined", class: "bg-error m0 mr1" %>
            <% else %>
              <%= badge_for "Pending", class: "bg-transparent border border-dashed border-muted m0 mr1" %>
            <% end %>
          <% end %>
        </p>
        <p class="pinned__transaction__text pinned__transaction__text--memo mt1 mb1 leading-[1.25] h3">
          <%= pin.hcb_code.memo %>
        </p>
        <footer class="flex items-center justify-between -mb-1 gap-2 w-full">
          <span class="m0 muted">
            <%= render_money pin.hcb_code.amount_cents_by_event(@event) %>
          </span>
          <% tx = pin.hcb_code.ct || pin.hcb_code.pt %>
          <% cache(["tx_#{tx.hcb_code}", "icon", "pinned", "w"], expires_in: 12.hours) do %>
            <%= render "hcb_codes/icon", tx: tx, tooltip_direction: "w" %>
          <% end %>
        </footer>
      <% end %>
    <% end %>
  </div>
<% end %>
