<% title "Reimbursements for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :reimbursements %>

<% if @reports.any? || !organizer_signed_in? %>
  <h1 class="heading gap-2 flex-col sm:flex-row mb-0 border-0">
    <span class="flex-grow">Reimbursements</span>
    <div class="flex items-center gap-2">
      <%= pop_icon_to "download",
                    reimbursements_exports_path(@event, format: :csv),
                    class: "tooltipped tooltipped--s", "aria-label": "Download CSV export" %>
      <%= render "reimbursement_buttons" %>
    </div>
  </h1>

  <%= render partial: "reimbursement/reports/create_form" %>

  <div class="statset mb-2">
    <div class="stat">
      <span class="stat__label">
        Total
      </span>
      <span class="stat__value" style="text-wrap: nowrap"><%= render_money_amount(@total) %></span>
    </div>
    <div class="stat stat--small">
      <span class="stat__label">Reimbursed</span>
      <span class="stat__value"><%= render_money_amount(@reimbursed) %></span>
    </div>
    <div class="stat stat--small">
      <span class="stat__label">Pending</span>
      <span class="stat__value"><%= render_money_amount(@pending) %></span>
    </div>
  </div>

  <div class="flex items-center gap-2">
    <%= form_with(model: false, local: true, method: :get, class: "flex-1 w-full sm:w-auto") do |form| %>
      <%= render "events/search", form: %>
    <% end %>
    <%= render "events/filters/menu", filters: @filter_options unless @has_filter %>
  </div>

  <%= render "events/filters/bar", filters: @filter_options if @has_filter %>

  <% if @reports.blank? %>
    <%= blankslate "No reports found!" %>
  <% else %>
    <article class="table-container">
      <table>
        <thead>
        <tr>
          <th>Status</th>
          <th>Report</th>
          <th>From</th>
          <th class="text-right">Amount</th>
          <th class="text-right">Created</th>
        </tr>
        </thead>
        <tbody>
          <% @reports.order(created_at: :desc).each do |report| %>
            <tr class="clickable">
              <td>
                <% if report.status_description %>
                  <span class="ml0 badge bg-<%= report.status_color %> tooltipped tooltipped--e tooltipped--xl" aria-label="<%= report.status_description %>">
                    <%= report.status_text %>
                  </span>
                <% else %>
                  <span class="ml0 badge bg-<%= report.status_color %>"><%= report.status_text %></span>
                <% end %>
              </td>
              <td style="max-width: 500px; overflow: hidden; text-overflow: ellipsis;">
                <%= link_to "", report, class: "stretched-link" %>
                <span class="muted"><%= report.name %></span>
              </td>
              <td style="width: 200px; overflow: hidden; text-overflow: ellipsis;">
                <%= user_mention report.user %>
              </td>
              <td class="text-right">
                <%= report.amount.format %>
              </td>
              <td class="text-right">
                <%= format_date report.created_at %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </article>

    <%= paginate @reports %>

    <p class="italic muted text-center">
      <%= page_entries_info @reports, entry_name: "reports" %>.
    </p>
  <% end %>
<% else %>
 <%= render "events/one_pager",
      title: "Reimbursements",
      support_article: "https://help.hcb.hackclub.com/en/articles/13370866-how-do-i-request-reimbursements",
      screenshots: {
        light: "https://user-cdn.hackclub-assets.com/019c3c7a-827e-779a-80bd-505c00c0f793/hcb.hackclub.com_hq_reimbursements.png",
        dark: "https://user-cdn.hackclub-assets.com/019c3c7a-6f5b-7e30-aada-7f7ee823679e/hcb.hackclub.com_hq_reimbursements%20(1).png"
      },
      hints: [
        {
          icon: "send",
          title: "Manage out-of-pocket expenses",
          description: "Easily track and reimburse expenses incurred by your team members during events."
        },
        {
          icon: "payment",
          title: "Four different methods",
          description: "Reimburse via ACH, mailed checks, Wise, or Wire transfers to suit your team's needs."
        },
        {
          icon: "copy",
          title: "Upload receipts",
          description: "Organize and store expense receipts to track each expense easily."
        }
      ] do %>
    <div class="flex items-center gap-2">
      <%= render partial: "reimbursement/reports/create_form" %>
      <%= render partial: "reimbursement_buttons" %>
    </div>
  <% end %>
<% end %>

<%= form_with(model: Reimbursement::Report, class: "display-none", method: :post, url: quick_expense_reimbursement_reports_path, data: { controller: "file-drop form", "file-drop-title-value": "Drop to start a report." }) do |form| %>
  <%= form.hidden_field :event_id, value: @event.id %>
  <%= form.label :file, "Choose file", class: "field--fileupload__label", data: {
        action: "
        dragover@window->file-drop#dragover
        drop@window->file-drop#drop
        dragenter@window->file-drop#dragenter
        dragleave@window->file-drop#dragleave
      "
      } %>
  <%= form.file_field :file,
      multiple: true,
      include_hidden: false,
      required: false,
      accept: "image/*,image/heic,.pdf",
      data: {
        "file-drop-target" => "fileInput",
        "action"           => "change->form#submit"
      } %>
  </div>
<% end %>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="reimbursement_settings">
  <%= modal_header("Settings", external_link: edit_event_path(@event, tab: "reimbursements")) %>
  <%= turbo_frame_tag :reimbursements_settings, src: edit_event_path(@event, tab: "reimbursements", params: { frame: true }), loading: "lazy" do %>
    <strong>Loading...</strong>
  <% end %>
</section>
