<% title "Statements for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :documentation %>

<h1 class="flex mb-0 border-0">
  Documents
  <% admin_tool "w-fit ml-auto p-0 -mt-1" do %>
    <%= link_to "Upload a document",
    new_document_path(event_id: @event.slug),
    class: "btn bg-success -mt-2 -translate-y-[2px]",
    disabled: !admin_signed_in? %>
  <% end %>
</h1>

<ul class="tab-container mt-0">
  <%= settings_tab do %>
    <%= link_to "Legal documents", event_documents_path(@event), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
  <%= settings_tab active: true do %>
    <%= link_to "Financial statements", event_statements_path(@event), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
</ul>

<% months = (@start_date..@end_date).select { |date| date.day == 1 }.reverse %>

<% if months.none? %>
  <%= blankslate "No financial statements yet" %>
<% else %>
  <div class="grid">
    <% months.group_by(&:year).each do |year, months| %>
      <h3 class="mb0" id="<%= year %>" style="grid-column: 1 / span 3">
        Statements from <%= year %>
      </h3>
      <% months.each do |day| %>
        <div data-controller="menu" class="card flex items-center">
          <span class="grow"><%= day.strftime("%B %Y") %></span>
          <%= pop_icon_to "download",
                          "#",
                          class: "align-middle", "aria-label": "Download",
                          data: { turbo: true, "menu-target": "toggle", action: "menu#toggle click@document->menu#close keydown@document->menu#keydown" } %>

          <div data-menu-target="content" class="menu__content menu__content--2 menu__content--compact">
            <%= link_to transactions_exports_path(event: @event, start_date: day, format: :pdf), target: "_blank" do %>
              Download as PDF
            <% end %>
            <%= link_to transactions_exports_path(event: @event, start_date: day, format: :csv), target: "_blank" do %>
              Download as CSV
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
