<% if organizer_signed_in? %>
  <%= turbo_stream_from @event, :transactions %>
  <%= turbo_stream_from @event, :tags %>
  <% turbo_refreshes_with method: :morph, scroll: :preserve %>
<% end %>

<% if @event&.is_public %>
  <% auto_discover_feed(@event) %>
  <% content_for :head do %>
    <% img = "https://hcb-og.hackclub.com/api/embeds/#{@event.slug}" %>
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= img %>">
    <meta name="twitter:image" content="<%= img %>">
    <meta property="og:site_name" content="HCB">
    <meta property="og:url" content="<%= event_url(@event) %>">
    <meta property="og:title" content="<%= @event.name %>">
    <meta name="twitter:title" content="<%= @event.name %>">
    <% description = "#{@event.name}'s finances have been made public on HCB so you can see how their money is spent." %>
    <meta property="og:description" content="<%= description %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
  <% end %>
<% end %>

<% title "Transactions for #{@event.name}" %>

<%= render "events/nav", selected: :transactions %>

<%= render "events/heading", event: @event, event_follow: @event_follow do %>
  <span class="flex-grow">Transactions</span>
<% end %>

<div class="statset mb-2">
  <div class="stat">
    <span class="stat__label">Account balance</span>
    <%# this event has a fee credit (owes negative fees) %>
    <% if @event.fee_balance_v2_cents < 0 %>
      <span class="stat__value stat__value--no-space"><%= render_money_amount @event.balance_v2_cents %></span>
      <span class="self-end" style="font-size: 10px;">+$<%= render_money_amount @event.fee_balance_v2_cents.abs %>
        fee credit</span>
    <% else %>
    <span class="stat__value stat__value--no-space">
      <%= render_money_amount(@event.balance_available_v2_cents) %>
    </span>
    <% end %>
  </div>

  <div class="stat stat--small">
    <span class="stat__label">Total revenue</span>
    <span class="stat__value stat__value--no-space">
      <%= render_money_amount(@event.total_raised) %>
    </span>
  </div>

  <div class="stat stat--small">
    <span class="stat__label">Total expenses</span>
    <span class="stat__value stat__value--no-space">
      <%= render_money_amount(@event.total_spent_cents) %>
    </span>
  </div>
</div>

<%= render "events/public_message" %>
<main data-controller="transactions" class="mt-2">
  <%= render "events/pinned_transactions" %>
  <%= turbo_frame_tag [dom_id(@event), :ledger], src: event_ledger_path(@event, request.query_parameters) do %>
    <%= render "application/loading_container", klass: "mt-8" %>
  <% end %>
</main>
