<%# locals: (event:) %>

<%= turbo_frame_tag :affiliations_settings do %>
  <h3 class="mb1">Add a new affiliation</h3>
  <div class="card mb3">
    <% affiliation = Event::Affiliation.new(affiliable: event) %>
    <%= form_with(url: affiliations_path(affiliable_type: event.class.name, affiliable_id: event.id), local: true, html: { "x-data": "{ type: 'first', disabled: #{!policy(affiliation).update?} }" }) do |form| %>
      <%= render "events/settings/affiliation_form", affiliation:, form: %>
    <% end %>
  </div>

  <% unless event.affiliations.none? %>
    <h3 class="mb2"><%= possessive(event.name) %> affiliations</h3>
  <% end %>
  <%= render partial: "events/settings/affiliation", collection: event.affiliations %>
<% end %>
