These events have discrepancies in their balances between the old and new transaction engine:

<% @anomalous_events.each do |anomaly| %>
  <h2><%= link_to anomaly[:name], event_url(anomaly[:slug]) %> (<%= anomaly[:id] %>)</h2>
  <p><%= link_to "OLD balance_v2_cents:", event_transactions_url(anomaly[:slug]) %> <%= anomaly[:balance_v2_cents] %></p>
  <p><%= link_to "NEW ledger.balance_cents (sum of ledger items):", event_books_url(anomaly[:slug]) %> <%= anomaly[:ledger_balance_cents] %></p>
<% end %>
