These events have discrepancies in their balances between the old and new transaction engine:

<% @anomalous_events.find_each do |event| %>
  <h2><%= link_to event.name, event_url(event) %> (<%= event.id %>)</h2>
  <p><%= link_to "OLD balance_v2_cents:", event_transactions_url(event) %> <%= event.balance_v2_cents %></p>
  <p><%= link_to "OLD sum(&:smart_amount_cents):", event_transactions_url(event) %> <%= event.hcb_codes.on_main_ledger.sum(&:smart_amount_cents) %></p>
  <p><%= link_to "NEW ledger.balance_cents (sum of ledger items):", ledger_url(event.ledger) %> <%= event.ledger.balance_cents %></p>
<% end %>
