<%# locals: (form:, field_name:, label:, disabled:, sending: false, source_event: nil) %>

<% search_path = if sending
                   event_search_disbursements_path(sending: true)
                 elsif source_event
                   event_search_disbursements_path(source_event_id: source_event.public_id)
                 else
                   event_search_disbursements_path
                 end %>

<% association_name = field_name.to_s.sub(/_id$/, "") %>
<% selected_event = form.object.try(association_name) %>
<% default_value = selected_event&.public_id %>
<% default_label = selected_event && admin_signed_in? ? "#{selected_event.name} (#{selected_event.id})" : selected_event&.name %>

<div class="field flex-1">
  <%= form.label field_name, label %>
  <div class="hw-combobox relative !max-w-full"
       data-controller="combobox"
       data-combobox-url-value="<%= search_path %>"
       data-combobox-selected-value="<%= default_value %>"
       data-combobox-label-value="<%= default_label %>">
    <div class="hw-combobox__main__wrapper">
      <input type="text"
             role="combobox"
             class="hw-combobox__input"
             placeholder="Select one..."
             autocomplete="off"
             aria-autocomplete="both"
             aria-expanded="false"
             aria-controls="<%= "#{field_name}_combobox_listbox" %>"
             <%= "disabled" if disabled %>
             data-combobox-target="input"
             data-action="input->combobox#onInput focus->combobox#onFocus keydown->combobox#onKeydown blur->combobox#onBlur">
      <div class="hw-combobox__handle"></div>
    </div>
    <%= form.hidden_field field_name.to_sym, value: default_value, data: { combobox_target: "hidden" } %>
    <ul role="listbox" class="hw-combobox__listbox" data-combobox-target="listbox" hidden></ul>
  </div>
</div>
