<% title "Home" %>
<% page_md %>

<%= render "users/nav", selected: current_user&.redirect_to_first_dashboard? ? :home : :first %>

<% affiliation = current_user(allow_unverified: true)&.affiliations&.find_by(name: "first") %>

<h1 class="heading border-b-0 mb-0 pb-0 flex-col sm:flex-row items-center sm:items-start justify-center sm:justify-between center sm:text-left w-auto m-0 mt-3 gap-2">
  <div>
    <span class="<%= "warning" if fall? %>">
      Welcome to <span class="primary">HCB</span>
    </span>
  </div>
  <span class="badge ml-0 text-sm rounded-xl caps hidden md:inline <%= Rails.env.development? ? "bg-success" : by_season("bg-muted", fall: "bg-warning") %>" id="flavor-text" data-turbo-permanent><%= flavor_text %></span>
</h1>

<h2 class="text-5xl md:text-6xl my-8">
  The <span class="italic" style="font-weight: 800;">ultimate booster club</span>

  for FRC, FTC, and FLL teams
</h2>

<% if affiliation %>
  <div class="card my-4 flex flex-row items-center gap-4">
    <%= avatar_for current_user(allow_unverified: true), size: 48 %>
    <div class="w-max flex-shrink-0">
      <h3 class="heading my-0"><%= current_user(allow_unverified: true).full_name %></h3>
      <% if affiliation.role.present? %>
        <p class="my-0"><%= affiliation.role.titleize %></p>
      <% end %>
      <p class="my-0 muted">
        <%= affiliation.league&.upcase %> #<%= affiliation.team_number %>
        <% if affiliation.team_name.present? %>
          · <%= affiliation.team_name %>
        <% end %>
      </p>
    </div>

    <div class="flex-grow w-full">
    </div>

    <% if affiliation.league&.downcase == "frc" %>
      <img src="<%= "https://www.thebluealliance.com/avatar/2026/frc#{affiliation.team_number}.png" %>" alt="" class="h-[48px] rounded">
    <% end %>
  </div>
<% end %>

<% if @macbook_raffle.present? %>
  <%= render "users/first/raffle", raffle: @macbook_raffle, raffle_name: "MacBook Neo" %>
<% end %>

<% if @printer_raffle.present? %>
  <%= render "users/first/raffle", raffle: @printer_raffle, raffle_name: "Bambu Lab A1" %>
<% end %>

<% if @airpods_raffle.present? %>
  <%= render "users/first/raffle", raffle: @airpods_raffle, raffle_name: "AirPods Pro 3" %>
<% end %>

<%# this is how im checking age since they arent entering their birthday %>
<% if ["student_leader", "student_member"].include?(affiliation&.role) && Date.current < Date.new(2026, 5, 3) %>
  <% if !Event::Affiliation.where(affiliable_type: "Event").where("metadata ->> 'league' = ?", affiliation&.league).where("metadata ->> 'team_number' = ?", affiliation&.team_number).any? %>
    <% unless Raffle.where(user: current_user(allow_unverified: true), program: "first-worlds-2026-airpods").any? %>
      <div class="card flex flex-col bg-black !text-white gap-3">
        <div class="flex flex-row items-stretch gap-4 flex-wrap sm:flex-nowrap">
          <div class="flex-grow">
            <img src="https://cdn.hackclub.com/019d4f27-dd29-76ea-bee6-26f998a00f95/frame_2__42_.png" class="sm:hidden max-w-[20%] min-w-[64px] pb-4">

            <h2 class="heading mt-0 mb-3 w-full">
              Get a free AirPods Pro 3!
            </h2>
            <p class="my-0 md:my-2">Email your advisor with information about HCB, and we'll sign you up for our AirPods raffle! Get a chance to win a free AirPods Pro 3.</p>
            <%= link_to "#", class: "btn bg-info gap-1 hidden sm:inline-flex mt-2", "data-behavior": "modal_trigger", "data-modal": "modal" do %>
              Email your advisor about HCB →
            <% end %>
          </div>

          <div class="hidden sm:block min-h-16 aspect-video bg-[url('https://cdn.hackclub.com/019dd4d6-4dbb-7157-9aa5-d9c778879ed9/airpods-pro-3-hero-3120577713.png')] bg-right bg-no-repeat bg-contain"></div>
        </div>

        <%= link_to "#", class: "btn bg-info gap-1  sm:hidden" do %>
          Email your advisor about HCB →
        <% end %>
      </div>
    <% end %>
  <% elsif !Raffle.where(user: current_user(allow_unverified: true), program: "first-worlds-2026-printer").any? %>
    <% if current_user(allow_unverified: true).events.where(id: Event::Affiliation.where(affiliable_type: "Event").where("metadata ->> 'league' = ?", affiliation&.league).where("metadata ->> 'team_number' = ?", affiliation&.team_number).select(:affiliable_id)).any? %>
      <div class="card flex flex-col bg-black !text-white gap-3">
        <div class="flex flex-row items-stretch gap-4 flex-wrap sm:flex-nowrap">
          <div class="flex-grow">
            <img src="https://cdn.hackclub.com/019d4f27-dd29-76ea-bee6-26f998a00f95/frame_2__42_.png" class="sm:hidden max-w-[20%] min-w-[64px] pb-4">

            <h2 class="heading mt-0 mb-3 w-full">
              Get a free 3D printer!
            </h2>
            <p class="my-0 md:my-2">Good news! You're a member of a robotics team that runs on HCB. Click the button below and get a chance to win a free Bambu Lab A1.</p>
            <div class="mb-6">
              <%= form_with(url: raffles_path, method: :post) do |form| %>
                <%= form.hidden_field :program, value: "first-worlds-2026-printer" %>
                <%= form.submit "Enter raffle" %>
              <% end %>
            </div>
          </div>

          <div class="hidden sm:block min-h-16 aspect-video bg-[url('https://cdn.hackclub.com/019d4f27-dd29-76ea-bee6-26f998a00f95/frame_2__42_.png')] bg-right bg-no-repeat bg-contain"></div>
        </div>
      </div>
    <% else %>
      <div class="card flex flex-col bg-black !text-white gap-3">
        <div class="flex flex-row items-stretch gap-4 flex-wrap sm:flex-nowrap">
          <div class="flex-grow">
            <img src="https://cdn.hackclub.com/019d4f27-dd29-76ea-bee6-26f998a00f95/frame_2__42_.png" class="sm:hidden max-w-[20%] min-w-[64px] pb-4">

            <h2 class="heading mt-0 mb-3 w-full">
              Get a free 3D printer!
            </h2>
            <p class="my-0 md:my-2">Request to join your team's organization on HCB, and when your request is approved, we'll automatically sign you up for our 3D printer raffle! Get a chance to win a free Bambu Lab A1.</p>
            <div class="mb-6">
              <%= form_with(url: raffles_path, method: :post) do |form| %>
                <%= form.hidden_field :program, value: "first-worlds-2026-printer" %>
                <%= form.submit "Enter raffle", disabled: true %>
              <% end %>
            </div>
          </div>

          <div class="hidden sm:block min-h-16 aspect-video bg-[url('https://cdn.hackclub.com/019d4f27-dd29-76ea-bee6-26f998a00f95/frame_2__42_.png')] bg-right bg-no-repeat bg-contain"></div>
        </div>
      </div>
    <% end %>
  <% end %>
  <!--<img class="h-full" src="https://cdn.hackclub.com/019d4f15-3cb4-7a3d-88c0-296091c82d61/bambu-lab-a1-mini-1-pc-702055-en.png">-->
<% end %>

<div class="flex gap-3 items-stretch justify-center flex-col md:flex-row my-4">
  <div class="card w-full">
    <h2 class="heading mt-0 mb-3">
      HCB in action
    </h2>
    <p class="my-3">
      <strong>2854 EVHS The Prototypes</strong> saves hundreds of hours on bookkeeping and accounting by using HCB to raise and spend money
      for their FRC team. HCB's online donation form makes grassroots crowdfunding easy, and HCB's cards and reimbursements makes spending
      quick and simple.
    </p>
    <div class="flex flex-row my-4 pr-1 gap-2 justify-between">
      <div class="flex flex-row items-center justify-start gap-1 flex-grow">
        <%= inline_icon "payment-docs" %>
        $68k raised
      </div>
      <div class="flex flex-row items-center justify-start gap-1 flex-grow">
        <%= inline_icon "support-fill" %>
        25 donations
      </div>
      <div class="hidden md:flex flex-row items-center justify-start gap-1 flex-grow">
        <%= inline_icon "event-star" %>
        2 years
      </div>
    </div>
    <div class="flex gap-3">
      <%= link_to "/prototypes", class: "btn bg-success gap-1", target: :_blank do %>
        2854 EVHS The Prototypes on HCB →
      <% end %>
    </div>
  </div>
  <div class="w-full card bg-[url('https://cdn.hackclub.com/019dd791-107c-7e7f-b5d4-fed1b310938a/Screenshot%20From%202026-04-28%2023-48-02.png')] bg-left-top bg-cover min-h-[200px]"></div>
</div>

<div class="card my-4">
  <h2 class="heading mt-0 my-3">
    Give your finances superpowers
  </h2>
  <p>
    HCB provides hundreds of <em>FIRST</em> teams with a powerful financial toolkit for raising and spending money. An online donation form, effortless expense reimbursements, and free debit cards help your team worry less about finances.
  </p>
</div>

<div class="grid grid-cols-2">
  <div class="card">
    <div class="flex flex-row items-center gap-2">
      <%= inline_icon "bank-account" %>
      <h2 class="heading my-0">501(c)(3) nonprofit status</h2>
    </div>
    <p>Forget about filing paperwork and become part of Hack Club's legal entity to operate as a 501(c)(3) nonprofit.</p>
  </div>
  <div class="card">
    <div class="flex flex-row items-center gap-2">
      <%= inline_icon "briefcase" %>
      <h2 class="heading my-0">Corporate matching</h2>
    </div>
    <p>Instantly double your incoming donations with corporate matching platforms like Benevity.<p>
  </div>
  <div class="card">
    <div class="flex flex-row items-center gap-2">
      <%= inline_icon "support" %>
      <h2 class="heading my-0">Online donation form</h2>
    </div>
    <p>Fund your team through grassroots support with an online donation page. Accept credit card donations instantly with zero card processing fees.</p>
  </div>
  <div class="card">
    <div class="flex flex-row items-center gap-2">
      <%= inline_icon "card" %>
      <h2 class="heading my-0">Debit cards</h2>
    </div>
    <p>Spend your funds anywhere instantly with free physical and virtual debit cards. Plus, invite team members with built-in spending controls to develop financial literacy.</p>
  </div>
</div>

<div class="card card--sunken flex flex-col items-center p-10 gap-5">
  <h2 class="text-4xl my-0 text-center w-full">
    Ready to get started?
  </h2>
  <p class="my-0 text-center">Our team is standing by to help your robotics team succeed.</p>
  <div class="flex flex-row gap-4">
    <%= link_to "#", class: "btn" do %>
      <%= inline_icon "event-add" %>
      Book a meeting
    <% end %>

    <div class="avatar-row" style="max-width: 300px;">
      <% User.where(id: [2501, 1803, 8507, 16174, 2046]).find_each do |user| %>
        <%= avatar_for user, size: 30 %>
      <% end %>
    </div>
  </div>
</div>

<section id="modal" class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog">
  <%= modal_header "Email your advisor" %>

  <p>
    Send an email to your advisor to ask them about running your team on HCB.
    Worry-free finances, effortless spending, and powerful fundraising tools are at your fingertips.
    <br>
    <br>
    <%# https://mailtolinkgenerator.com/ %>
    Send an email by <a href="mailto:?cc=hcb-raffles@hackclub.com&subject=Join%20hundreds%20of%20other%20FIRST%20teams%20on%20HCB!&body=lorem%20ipsum">clicking here</a> and then press the button below to sign up for our AirPods raffle!
  </p>

  <%= form_with(url: raffles_path, method: :post) do |form| %>
    <%= form.hidden_field :program, value: "first-worlds-2026-airpods" %>
    <%= form.submit "Enter raffle", data: { confirm: "Before entering, please confirm you have met the criteria: you are 18 or younger and have sent the provided email CCing hcb-raffles@hackclub.com" } %>
  <% end %>

  <br>
  <i class="muted">Must be 18 years of age or younger, have CCd <%= mail_to "hcb-raffles@hackclub.com" %> in your email, and used the <a href="mailto:?cc=hcb-raffles@hackclub.com&subject=Join%20hundreds%20of%20other%20FIRST%20teams%20on%20HCB!&body=lorem%20ipsum">provided message</a> to be eligible.</i>
</section>
