<% title @card.initially_activated ? "Card #{@card.last_four} (#{@card.user.name}, #{(@event || @card.event).name})" : "Inactive card" %>
<%= render "events/nav", selected: :cards unless @frame %>

<%= turbo_frame_tag "stripe_card_#{@card.public_id}" do %>
  <%= render partial: "stripe_cards/canceled_warning", locals: { stripe_card: @card } %>

  <turbo-frame id="details">
    <article class="check--form <%= @frame ? "flex-col" : "sm:flex" %> items-start justify-center mt-2 mb3 gap-4">
      <section class="center mt0" style="<%= "width: 300px;max-width: 100%;min-width:300px;" unless @frame %>">
        <% if @card.card_grant.present? %>
          <% admin_tool do %>
            This card is linked to a <%= link_to "#{@card.card_grant.amount.format} grant", @card.card_grant, data: { turbo_frame: "_top" } %> to <%= mail_to @card.card_grant.user.email %>.
            <br>
            <%= link_to "View grant", card_grant_path(@card.card_grant), class: "btn bg-accent m1", data: { turbo_frame: "_top" } %>
          <% end %>
        <% end %>

        <%= render "stripe_cards/stripe_card", stripe_card: @card, headless: true %>
        <% admin_tool("card card--breakdown flex flex-col p-1 -mb-1") do %>
          <%= link_to "View card on Stripe", @card.stripe_dashboard_url, class: "btn btn--list-item" %>
          <%= link_to "View cardholder on Stripe", @card.cardholder.stripe_dashboard_url, class: "btn btn--list-item" %>
          <% if @card.cash_withdrawal_enabled? %>
            <%= link_to "Disable cash withdrawals", enable_cash_withdrawal_stripe_card_path(@card), method: :post, class: "btn btn--list-item bg-success", disabled: !admin_signed_in? %>
          <% elsif @card.physical? %>
            <%= link_to "Enable cash withdrawals", enable_cash_withdrawal_stripe_card_path(@card), method: :post, class: "btn btn--list-item bg-success", disabled: !admin_signed_in? %>
          <% end %>
        <% end %>
        <%= render partial: "stripe_cards/actions", locals: { stripe_card: @card } %>
      </section>

      <%= render partial: "stripe_cards/details", locals: { stripe_card: @card } if @card.initially_activated? %>
      <% if @card.physical? && !@card.initially_activated? && !@card.canceled? %>
        <div class="mt2 max-w-lg w-100 mx-auto">
          <div class="grid mb3" style="max-width: 36rem; margin: 0px auto; width: 100%;">
            <%= render partial: "stripe_cards/shipping", locals: { stripe_card: @card } %>
          </div>
        </div>
      <% end %>
    </article>
  </turbo-frame>

  <%= render partial: "stripe_cards/transactions", locals: { stripe_card: @card, hcb_codes: @hcb_codes } %>
<% end %>
