<%# locals: (form:, disabled:, required: true, excluded_fields: []) %>

<% (Event.countries_for_select + [nil]).each do |country| %>
  <template x-if="country == '<%= country.nil? ? "null" : country[0] %>'">
    <div>
      <% Wire.information_required_for(country.nil? ? nil : country[0]).each do |field| %>
        <% unless (field[:key]).in?(excluded_fields) %>
        <div class="flex flex-col mt-2">
          <%= form.label field[:key], field[:label] %>
          <div class="muted mb-1">
            <%= field[:description] %>
            <% if field[:refer_to] %>
              <%= link_to "Refer to this document", field[:refer_to], target: "_blank" %>
            <% end %>
          </div>
          <% if field[:type] == :select %>
            <%= form.select field[:key], field[:options], required:, disabled: "", prompt: "Please select..." %>
          <% else %>
            <%= form.send(field[:type], field[:key], required:, class: "!max-w-full") %>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </template>
<% end %>
