<h1>Reauthenticate bank account</h1>
<button id="linkButton">Reauthenticate</button>

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
var linkHandler = Plaid.create({
  token: <%= @link_token.to_json.html_safe %>,
  onSuccess: function(public_token, metadata) {
    // Don't need to do anything, access token remains the same
    swal('Done!', 'Feel free to continue using HCB.', 'success')
  },
  onExit: function(err, metadata) {
    if (err != null) {
      console.log('error metadata:', metadata)

      swal('Authentication error', 'Ran into an error while authenticating! Please try again. Check the console for metadata like request_id or link_session_id and report to Plaid.', 'error')
    }
  },
});

// Trigger the standard Institution Select view
document.getElementById('linkButton').onclick = function() {
  linkHandler.open();
};
</script>

<ul>
  <li>env: <%= @link_env %></li>
  <li>clientName: <%= @client_name %></li>
  <li>product: <%= @product %></li>
  <li>token: <%= @link_token %></li>
</ul>
