<% title "Payment of #{render_money @payment.amount}" %>
<% page_sm %>
<%= render "events/nav", selected: :payments if policy(@event).show? %>

<%= turbo_frame_tag "payment_#{@payment.id}", target: "_top" do %>
  <article class="hcb-code">
    <h2 class="h2 mt0 border-none flex items-center justify-between hcb-code--heading mb-0" style="gap: 1ch">
      <span class="flex items-center py-3 gap-2 flex-grow">
        <span>
          <span class="regular muted">Payment to</span>
          <%= @payment.payee.display_name %>
          <span class="regular muted">for</span>
          <span class="regular"><%= render_money @payment.amount %></span>
        </span>
        <span class="badge h4 bg-<%= @payment.state_color %> nowrap order-1"><%= @payment.state_text %></span>
      </span>
    </h2>

    <section class="hcb-code--details">
      <div>
        <strong>Submitted by</strong>
        <%= user_mention @payment.creator %>
      </div>
      <div>
        <strong>Initiated at</strong>
        <%= format_datetime @payment.created_at %>
      </div>
      <% if (version = @payment.versions.where_object_changes_to(aasm_state: :canceled).last).present? %>
        <% admin_tool("", "div") do %>
          <strong>Canceled by</strong>
          <%= user_mention version.whodunnit.present? ? User.find(version.whodunnit) : nil %>
        <% end %>
      <% end %>
    </section>

    <section class="hcb-code--info">
      <p>
        <strong>Recipient</strong>
        <%= @payment.payee.display_name %>
      </p>
      <p>
        <strong>Email</strong>
        <%= @payment.payee.email %>
      </p>
      <p>
        <strong>Purpose</strong>
        <%= @payment.purpose %>
      </p>
      <p>
        <strong>Amount</strong>
        <%= render_money @payment.amount %>
      </p>
      <p>
        <strong>Organization</strong>
        <%= link_to @payment.event.name, event_path(@payment.event), data: { turbo_frame: "_top" } %>
      </p>
      <p>
        <strong>Status</strong>
        <%= @payment.state_text %>
      </p>
      <% if @payout_method.present? %>
        <p>
          <strong>Payout method</strong>
          <span class="flex items-center gap-1">
            <%= inline_icon @payout_method.icon, size: 20 %>
            <%= @payout_method.human_kind.capitalize %>
            <span class="muted">— <%= @payout_method.detail_summary %></span>
          </span>
        </p>
      <% end %>
    </section>

    <% if @payment.may_mark_canceled? %>
      <div class="card__banner card__darker border-top overflow-hidden flex items-center g2">
        <% cancel_button = button_to "Cancel payment", cancel_payment_path(@payment), class: "btn bg-error #{"disabled" unless policy(@payment).cancel?}" %>
        <% if policy(@payment).cancel? %>
          <%= cancel_button %>
        <% else %>
          <div class="tooltipped tooltipped--e w-fit" aria-label="Only managers can cancel payments!">
            <%= cancel_button %>
          </div>
        <% end %>
      </div>
    <% end %>
  </article>

  <% if @payment.aasm_state == "pending_legal_entity" %>
    <%= render "application/callout", type: "info", title: "Tax information required", class: "mt-4" do %>
      <% days_remaining = [90 - (Date.current - @payment.created_at.to_date).to_i, 0].max %>
      <%= @payment.payee.display_name %> has <%= pluralize(days_remaining, "day") %> left to provide their tax information until this payment is canceled. We've sent them an email with instructions.
    <% end %>
  <% end %>

  <% if @payment.receipts.any? %>
    <ul class="grid grid--medium-narrow text-left w-100 mt-4 receipts_list">
      <%= render partial: "receipts/receipt", collection: @payment.receipts.with_attached_file.includes(:user).order(created_at: :asc), as: :receipt, locals: { show_delete_button: true, link_to_file: true } %>
    </ul>
  <% end %>

  <%= render partial: "receipts/form_v3", locals: {
        receiptable: @payment,
        enable_linking: false,
        upload_method: "payment_page",
        include_spacing: true,
        redirect_url: payment_path(@payment),
        turbo: false
      } %>

  <%= render "comments/list", comments: @payment.all_comments, viewing_commentable: @payment %>
  <%= render "comments/form", commentable: @payment if current_user %>
<% end %>
