<% disabled = !policy(card_grant).create? %>

<%= form_with model: [@event, card_grant], data: { turbo_frame: "_top" } do |form| %>
  <div class="flex flex-col md:flex-row md:gap-5">
    <div class="w-full flex-grow">
      <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email, value: card_grant.email, placeholder: "fiona@hackclub.com", autofocus: true, required: true, disabled: %>
      </div>

      <div class="field">
        <%= form.label :amount_cents, "Amount" %>
        <div class="flex items-center">
          <span class="bold muted shrink-none" style="width: 1rem;">$</span>
          <%= form.number_field :amount_cents, value: (card_grant.amount_cents.nil? ? nil : ("%.2f" % (card_grant.amount_cents.to_f / 100))), placeholder: "10.00", required: true, min: 0.01, step: 0.01, data: { controller: "truncate-decimal", action: "truncate-decimal#truncate blur->truncate-decimal#pad" }, disabled: %>
        </div>
      </div>

      <div class="field">
        <%= form.label :purpose, "Purpose (optional, shown to recipient)" %>
        <%= form.text_field :purpose, placeholder: "Pizza for a club meeting", disabled:, maxlength: CardGrant::MAXIMUM_PURPOSE_LENGTH %>
      </div>

      <div class="field">
        <%= form.label :one_time_use, class: "flex gap-2 items-center" do %>
          <%= form.check_box :one_time_use, disabled: %>
          One time use?
          <span class="info tooltipped tooltipped--e h-5" aria-label="Card will freeze after the first charge">
            <%= inline_icon "info", size: 20 %>
          </span>
        <% end %>
      </div>

      <div class="field">
        <%= form.label :pre_authorization_required, class: "flex gap-2 items-center" do %>
          <%= form.check_box :pre_authorization_required, disabled: %>
          Require pre-authorization?
          <span class="info tooltipped tooltipped--e h-5" aria-label="Recipient will submit documentation of their purchase before activation, which will be compared with the grant's purpose and flagged if it is potentially fraudulent">
            <%= inline_icon "info", size: 20 %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="bg-muted self-stretch" style="width: 1px;"></div>

    <div class="w-full flex-grow">
      <div class="field">
        <%= form.label :invite_message, "Invitation message" %>
        <p class="h5 muted m-0">
          This message is included in the card grant invitation email sent to the recipient.
        </p>

        <%= form.text_area :invite_message, placeholder: "It's pizza time!", value: @event&.card_grant_setting&.invite_message, disabled:, class: "min-h-[70px]" %>
        <p class="h5 muted mt0 mb1">
          <%= link_to "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#table-of-contents", target: "_blank", class: "flex items-center" do %>
            <%= inline_icon "markdown", size: 32 %> Styling with Markdown is supported
          <% end %>
        </p>
      </div>

      <div class="field">
        <%= form.label :instructions, "Instructions (optional)", class: "bold" %>

        <%= form.text_area :instructions, placeholder: "Please only purchase a soldering iron…", disabled:, class: "min-h-[70px]" %>
        <p class="h5 muted mt0 mb1">
          <%= link_to "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#table-of-contents", target: "_blank", class: "flex items-center" do %>
            <%= inline_icon "markdown", size: 32 %> Styling with Markdown is supported
          <% end %>
        </p>
      </div>

    </div>
  </div>

  <footer class="modal__action-row pt1 flex items-center justify-between sticky bottom-0 <% if defined?(@popover) && @popover %>mt2" style="border-top: none;<% end %>">
    <% if @event.card_grant_setting.present? %>
      <%= link_to edit_event_path(@event, tab: "card_grants"), data: { turbo_frame: "_top" }, class: "btn btn--primary mr2" do %>
        Manage card grant settings
      <% end %>
    <% end %>
    <span></span>
    <%= form.submit "Send grant", disabled: %>
  </footer>
<% end %>
