

  <section class="flex items-center gap-2 flex-col sm:flex-row">
    <div class="statset w-full">
        <div class="stat !w-full">
        <span class="stat__label">Initial amount</span>
        <span class="stat__value"><%= render_money_amount(@card_grant.amount) %></span>
      </div>
      <div class="stat !w-full">
        <span class="stat__label">Balance remaining</span>
        <span class="stat__value"><%= render_money_amount(@card_grant.balance) %></span>
      </div>
    </div>
    <%= turbo_frame_tag "edit_balance_#{@card_grant.id}", src: edit_balance_event_card_grant_path(@card_grant) do %>
      <div class="flex flex-col justify-start items-center gap-2 min-w-[200px]">
          <%= link_to edit_topup_event_card_grant_path(@card_grant),
                      data: { turbo: true },
                      class: "btn !w-full bg-success",
                      disabled: !policy(@card_grant).topup? do %>
              <%= inline_icon "plus", size: 20 %> Topup
          <% end %>
          <%= link_to edit_withdraw_event_card_grant_path(@card_grant),
                      data: { turbo: true },
                      class: "btn !w-full bg-primary",
                      disabled: !policy(@card_grant).withdraw? do %>
              <%= inline_icon "minus", size: 20 %> Withdraw
          <% end %>
      </div>
    <% end %>
  </section>
    <ul class="tab-container">
    <%= settings_tab active: active == "overview" do %>
        <%= link_to "Overview", edit_overview_event_card_grant_path(@card_grant), data: { turbo: true } %>
    <% end %>
    <%= settings_tab active: active == "purpose" do %>
        <%= link_to "Purpose and instructions", edit_purpose_event_card_grant_path(@card_grant), data: { turbo: true } %>
    <% end %>
    <%= settings_tab active: active == "usage" do %>
        <%= link_to "Usage restrictions", edit_usage_restrictions_event_card_grant_path(@card_grant), data: { turbo: true } %>
    <% end %>
    <%= settings_tab active: active == "actions" do %>
        <%= link_to "Other actions", edit_actions_event_card_grant_path(@card_grant), data: { turbo: true } %>
    <% end %>
    </ul>
