<% disabled = !policy(@event).create_transfer? %>
<% title "Send a check" %>

<% content_for :table_of_contents do %>
  <%= render "events/transfer_step_item", number: 1, label: "Contact information" %>
  <%= render "events/transfer_step_item", number: 2, label: "Address" %>
  <%= render "events/transfer_step_item", number: 3, label: "Payment information" %>
<% end %>

<% content_for :header do %>
  <aside class="min-w-0 max-w-5xl px-6 lg:px-8 w-full hidden md:block pt-6 lg:pt-0 -mb-20 mx-auto sticky top-0 z-10">
    <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

    <div>
      <div 
        style="transform-origin: top left; width: 720px;" 
        class="pt-20 mx-auto pointer-events-auto"
        id="check-preview-container">
        <%= render "increase_checks/paper_check",
          check_number: "1024",
          date: Date.today.strftime("%b %d, %Y"),
          recipient_name: @check.recipient_name || "　",
          amount: @check.amount || 0,
          memo: @check.memo || "　",
          account_details: @event.column_account_number,
          editable: true %>
      </div>
    </div>
  </aside>
<% end %>

<% content_for :sidebar_footer do %>
  <%= render "application/callout", type: "info",
    title: "Information about check transfers", class: "my-4" do %>
    <ul class="m0">
      <li>
        Checks are not intended to reimburse someone.
        Use <%= link_to "reimbursements", event_reimbursements_path(@event),
          class: "info" %> to do so.
      </li>
      <li>
        Checks can only be sent within the US. Recipients must have a US bank
        account to cash them.
      </li>
      <li>
        Check will be valid for <span class="bold">180 days</span>, until
        <%= format_date IncreaseCheck::VALID_DURATION.from_now %>
      </li>
    </ul>
  <% end %>

  <% if @event.present? && !policy(@event).create_transfer? %>
    <%= render partial: "events/unauthorized_callout",
      locals: { action: "send a check" } %>
  <% end %>
<% end %>

<%= form_with(model: [@event, @check], local: true,
  data: { controller: "extraction", extraction_target: "form" },
  html: {
    "x-data" => "check(#{({
      payment_recipient: (@check.payment_recipient.to_safe_hash if @check.payment_recipient&.event&.== @check.event),
      editing: @check.address_line1.present?,
    }.to_json)})"
  }) do |form| %>
  <%= form_errors(@check, "check", "We couldn't send this") %>

  <%= form.hidden_field :payment_recipient_id, ":value" => "payment_recipient?.id" %>

  <div data-scroll-seek-target="section" class="lg:-mt-8">
    <h3 class="mb-2" id="contact-information">Contact information</h3>
    <div class="card mb-4 relative flex flex-col gap-3">
      <div id="increase_check_name_field" data-controller="menu text-filter" 
        data-menu-content-id-value="payment-recipient-search" 
        data-menu-append-to-value="#increase_check_name_field" 
        data-text-filter-empty-class="display-none">
        <%= form.label :recipient_name,
          "Legal name (use company name if applicable)" %>
        <span class="muted">This will be used for tax purposes; it should match the name on their bank account.</span>
        <%= form.text_field :recipient_name,
          placeholder: "Raviga Capital",
          required: true,
          disabled: disabled,
          role: "combobox",
          "aria-controls": "#payment-recipient-search",
          data: {
            input_target: "input",
            extraction_field: "seller_name",
            action: "
              keydown.enter->text-filter#selectFirst
              click->menu#open
              focus->menu#open
              click@document->menu#close
              keydown@document->menu#keydown
              input->text-filter#query
            ",
            menu_target: "toggle",
          },
          maxlength: 250,
          class: "!max-w-full",
          "x-ref" => "name_input",
          "@input" => "payment_recipient = null" %>

        <% if organizer_signed_in? && @event.payment_recipients.where(payment_model: "IncreaseCheck").any? %>
          <div class="menu__content menu__content--2" data-menu-target="content" role="listbox" style="width: 24rem">
            <% @event.payment_recipients.where(payment_model: "IncreaseCheck").each do |payment_recipient| %>
              <div data-name="<%= payment_recipient.name %>" class="flex items-center" data-payment-recipient="<%= payment_recipient.id %>">
                <button
                  type="button"
                  class="menu__action flex justify-between flex-auto mr1"
                  data-action="input#focus menu#close"
                  data-recipient="<%= payment_recipient.to_safe_json %>"
                  @click="payment_recipient = JSON.parse($el.dataset.recipient)">
                  <span class="truncate"><%= payment_recipient.name %></span>
                  <span class="muted ml1"><%= payment_recipient.address_city %>, <%= payment_recipient.address_state %></span>
                </button>
                <%= link_to event_payment_recipient_path(@event, payment_recipient), 
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this payment recipient?" } do %>
                  <%= inline_icon "view-close", size: 24, class: "align-middle" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div>
        <%= form.label :recipient_email, "Email" %>
        <%= form.email_field :recipient_email,
          placeholder: "fionah@gmail.com", 
          required: true, 
          disabled: disabled,
          data: { extraction_field: "seller_email" }, 
          class: "!max-w-full" %>
      </div>

      <%= render "events/notify_transfer_recipient", form: form, disabled: disabled %>
    </div>
  </div>

  <div data-scroll-seek-target="section">
    <h3 class="mb-2">Address information</h3>
    <div class="card mb-4 relative flex flex-col gap-3">
      <template x-if="!payment_recipient || editing">
        <div class="flex flex-col gap-3">
          <div>
            <%= form.label :address_line1,
              "Street address (where we're mailing it to)" %>
            <div class="flex items-center gap-2">
              <%= form.text_field :address_line1,
                placeholder: "1 Letterman Drive", 
                required: true, 
                disabled: disabled,
                data: { extraction_field: "seller_address_line_1" } %>
              <%= form.text_field :address_line2,
                placeholder: "Suite 500", 
                disabled: disabled,
                data: { extraction_field: "seller_address_line_2" } %>
            </div>
          </div>

          <div class="flex gap-2">
            <div class="flex-auto">
              <%= form.label :address_city, "City" %>
              <%= form.text_field :address_city,
                placeholder: "San Francisco", 
                required: true, 
                disabled: disabled,
                data: { extraction_field: "seller_address_city" } %>
            </div>
            <div class="flex-auto">
              <%= form.label :address_state, "State" %>
              <%= form.select :address_state, [
                ["Alabama", "AL"],
                ["Alaska", "AK"],
                ["Arizona", "AZ"],
                ["Arkansas", "AR"],
                ["California", "CA"],
                ["Colorado", "CO"],
                ["Connecticut", "CT"],
                ["Delaware", "DE"],
                ["Washington, D.C.", "DC"],
                ["Florida", "FL"],
                ["Georgia", "GA"],
                ["Hawaii", "HI"],
                ["Idaho", "ID"],
                ["Illinois", "IL"],
                ["Indiana", "IN"],
                ["Iowa", "IA"],
                ["Kansas", "KS"],
                ["Kentucky", "KY"],
                ["Louisiana", "LA"],
                ["Maine", "ME"],
                ["Maryland", "MD"],
                ["Massachusetts", "MA"],
                ["Michigan", "MI"],
                ["Minnesota", "MN"],
                ["Mississippi", "MS"],
                ["Missouri", "MO"],
                ["Montana", "MT"],
                ["Nebraska", "NE"],
                ["Nevada", "NV"],
                ["New Hampshire", "NH"],
                ["New Jersey", "NJ"],
                ["New Mexico", "NM"],
                ["New York", "NY"],
                ["North Carolina", "NC"],
                ["North Dakota", "ND"],
                ["Ohio", "OH"],
                ["Oklahoma", "OK"],
                ["Oregon", "OR"],
                ["Pennsylvania", "PA"],
                ["Rhode Island", "RI"],
                ["South Carolina", "SC"],
                ["South Dakota", "SD"],
                ["Tennessee", "TN"],
                ["Texas", "TX"],
                ["Utah", "UT"],
                ["Vermont", "VT"],
                ["Virginia", "VA"],
                ["Washington", "WA"],
                ["West Virginia", "WV"],
                ["Wisconsin", "WI"],
                ["Wyoming", "WY"]
              ], { prompt: "Select a state" },
              class: "min-h-0 h-9", 
              disabled: disabled,
              data: { extraction_field: "seller_address_state_code" } %>
              <% @check.errors.messages_for(:address_state).each do |message| %>
                <div class="primary"><%= message %></div>
              <% end %>
            </div>
          </div>

          <div class="flex items-center justify-between gap-2">
            <%= form.label :address_zip, "ZIP" %>
            <%= form.text_field :address_zip, 
              class: "!max-w-[150px]",
              placeholder: "94129", 
              required: true, 
              disabled: disabled,
              data: { extraction_field: "seller_address_zip" } %>
            <% @check.errors.messages_for(:address_zip).each do |message| %>
              <div class="primary"><%= message %></div>
            <% end %>
          </div>

          <div class="flex items-center justify-between gap-2">
            <%= form.label :address_country, "Country" %>
            <%= form.text_field :address_country,
              class: "!max-w-[150px] opacity-50", 
              value: "United States",
              disabled: true %>
          </div>
        </div>
      </template>

      <template x-if="payment_recipient && !editing">
        <div class="flex flex-col gap-3">
          <button type="button" 
            class="text-muted cursor-pointer select-none tooltipped tooltipped--w bg-transparent border-none absolute top-3 right-3" 
            aria-label="Edit address details" 
            @click="editing = true">
            <%= inline_icon "pen", size: 18 %>
          </button>
          <div>
            <label>Street address (where we're mailing it to)</label>
            <div class="flex items-center gap-2">
              <input disabled class="!text-muted bg-transparent" type="text" :value="payment_recipient.address_line1">
              <input disabled class="!text-muted bg-transparent" type="text" :value="payment_recipient.address_line2">
            </div>
          </div>
          <div class="flex gap-2">
            <div class="flex-auto">
              <label>City</label>
              <input disabled class="!text-muted bg-transparent" type="text" :value="payment_recipient.address_city">
            </div>
            <div class="flex-auto">
              <label>State</label>
              <input disabled class="!text-muted bg-transparent" type="text" :value="payment_recipient.address_state">
            </div>
          </div>
          <div class="flex items-center justify-between">
            <label>ZIP</label>
            <input disabled class="!max-w-[150px] !text-muted bg-transparent" type="text" :value="payment_recipient.address_zip">
          </div>
          <div class="flex items-center justify-between">
            <label>Country</label>
            <input disabled class="!max-w-[150px] !text-muted bg-transparent" type="text" value="United States">
          </div>
        </div>
      </template>
    </div>
  </div>

  <div data-scroll-seek-target="section">
    <h3 class="mb-2">Payment information</h3>
    <div class="card mb-4 relative flex flex-col gap-3">
      <div>
        <%= form.label :payment_for,
          "What are you paying for with this check?" %>
        <span class="muted mb-1 block">
          This helps HCB keep record of transactions.
        </span>
        <%= form.text_field :payment_for, 
          placeholder: "Event venue",
          required: true, 
          disabled: disabled, 
          class: "!max-w-full" %>
      </div>

      <div class="md:flex gap-3 mb-3 md:mb-0 items-center">
        <div class="flex-1">
          <%= form.label :memo %>
          <span class="muted block" data-behavior="check_characters_update">
            40 characters left
          </span>
        </div>
        <%= form.text_field :memo,
          maxlength: 40,
          placeholder: "Appears on the physical check",
          required: true,
          class: "!max-w-full flex-1",
          data: { behavior: "check_memo_field" },
          disabled: disabled %>
      </div>

      <div class="flex items-center justify-between gap-2">
        <div>
          <%= form.label :amount, "Amount" %>
          <% @check.errors.messages_for(:amount).each do |message| %>
            <div class="primary"><%= message %></div>
          <% end %>
          <% if @event.balance <= 0 %>
            <span class="error">
              There are no funds to transfer.<br>
            </span>
          <% end %>
        </div>
        <div class="input flex gap-2 items-center py-0 max-w-[150px]">
          <span class="bold muted" style="width: 1rem;">$</span>
          <div class="flex flex-col">
            <%= form.number_field :amount,
              placeholder: "500.00",
              class: "!p-0 !border-none !shadow-none min-h-auto",
              value: (@check.amount.nil? ? nil : ("%.2f" % (@check.amount.to_f / 100))),
              disabled: @event.balance <= 0 || disabled,
              step: 0.01,
              min: 1,
              required: true,
              data: { 
                behavior: "check_amount_field",
                controller: "truncate-decimal",
                action: "truncate-decimal#truncate blur->truncate-decimal#pad",
                extraction_field: "total"
              } %>
          </div>
        </div>
      </div>

      <%= render "events/transfer_attach_receipt", form:, disabled: %>
    </div>
  </div>

  <div class="flex gap-2">
    <button type="submit" class="gap-2 btn flex-[4] w-full bg-blue" <%= "disabled" if disabled %>>
      Send check
      <%= inline_icon "send" %>
    </button>
    <a href="javascript:void(0)" 
      data-action="click->check-preview#scrollToTop"
      class="bg-muted flex-[2] btn no-underline hidden sm:inline-flex">
      Preview
    </a>
  </div>

  <p class="muted mt-3 text-sm text-center">
    HCB team will review your transfer and mail the check on the next business day.
  </p>
<% end %>
