<p>Hi there! 👋</p>

<p>
  <%= link_to @user.name.to_s, edit_user_url(@user) %> (<%= @user.email %>)
  has requested an onboarding call for <%= link_to @event.name, @event %><%= " with #{@event.point_of_contact.name}" if @event.point_of_contact.present? %>.
</p>

<p>
  Reply to this email to schedule an onboarding call with <%= @user.name %>!
</p>

<p>
  Thanks!
</p>
