<p><%= @emails.length > 1 ? "Hi all," : "Hi there," %></p>

<p>
  <%= @whodunnit.name %> <%= "(an #{@is_manager ? "organization manager" : "HCB admin"})" unless @whodunnit == User.system_user %> has disabled transparency mode for <%= @event.name %>.
  This means your organization is now private to unauthenticated users on HCB.
  <% if @visible_pages.any? %>
    Your <%= @visible_pages.map { |page| link_to page[:name], page[:link] }.to_sentence.html_safe %> <%# erb_lint:disable ErbSafety %>
    <%= "is".pluralize(@visible_pages) %> still visible to the public.
  <% end %>
</p>

<p>
  Managers can re-enable transparency mode at any time in <%= link_to "your organization settings", edit_event_url(@event) %>.
</p>

<p>
  From,<br>
  The HCB Team
</p>
