<p>Hi there! 👋</p>

<p>
  Your child, <%= @contract.party(:signee).user.name %>, has applied for HCB, a fiscal sponsorship platform supporting teens building nonprofit projects. You've been invited to sign a fiscal sponsorship agreement for <%= @contract.event_name %> on HCB on behalf of your child.
</p>

<%= link_to "Sign the agreement →", contract_party_url(@party), style: "border: 0; border-radius: 6px; box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.125); cursor: pointer; display: inline-flex; font-size: 1rem; font-weight: 600; justify-content: center; align-items: center; height: 36px; letter-spacing: 0; overflow: hidden; padding: 0 1rem; position: relative; text-align: center; text-decoration: none; user-select: none; transition: box-shadow 0.125s ease-in-out, background-color 0.125s ease-in-out, color 0.125s ease-in-out; min-height: 36px; background-color: #74B3E7; color: #121519 !important; margin: 6px 0px;" %>

<h3>What is HCB?</h3>

<p>HCB is a project of <%= link_to "Hack Club", "https://hackclub.com" %> that provides 501(c)(3) status and an online financial platform for teen-led nonprofit projects.</p>

<table role="presentation" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;">
  <tr>
    <td align="left" valign="top" style="padding:0;">
      <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;width:100%;">
        <tr>
          <td style="background-color:#f2f2f2; padding:12px; border-radius:4px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#111111;">
            <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
              <tr>
                <td valign="middle" style="padding-right:8px; vertical-align:middle;">
                  <%= inline_icon "bank-account" %>
                </td>
                <td valign="middle" style="vertical-align:middle; line-height:16px;">
                  Receive foundation grants with tax-deductible 501(c)(3) status.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>

    <td width="12" style="width:12px;"></td>

    <td align="left" valign="top" style="padding:0;">
      <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;width:100%;">
        <tr>
          <td style="background-color:#f2f2f2; padding:12px; border-radius:4px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#111111;">
            <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
              <tr>
                <td valign="middle" style="padding-right:8px; vertical-align:middle;">
                  <%= inline_icon "payment-transfer" %>
                </td>
                <td valign="middle" style="vertical-align:middle; line-height:16px;">
                  Send money &amp; reimburse via check, ACH, bank wire, &amp; more.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td colspan="3" height="12" style="height:12px; line-height:12px; font-size:12px;">&nbsp;</td>
  </tr>

  <tr>
    <td align="left" valign="top" style="padding:0;">
      <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;width:100%;">
        <tr>
          <td style="background-color:#f2f2f2; padding:12px; border-radius:4px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#111111;">
            <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
              <tr>
                <td valign="middle" style="padding-right:8px; vertical-align:middle;">
                  <%= inline_icon "card" %>
                </td>
                <td valign="middle" style="vertical-align:middle; line-height:16px;">
                  Issue physical &amp; virtual debit cards with receipt tracking &amp; Apple Pay.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>

    <td width="12" style="width:12px;"></td>

    <td align="left" valign="top" style="padding:0;">
      <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;width:100%;">
        <tr>
          <td style="background-color:#f2f2f2; padding:12px; border-radius:4px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#111111;">
            <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
              <tr>
                <td valign="middle" style="padding-right:8px; vertical-align:middle;">
                  <%= inline_icon "like" %>
                </td>
                <td valign="middle" style="vertical-align:middle; line-height:16px;">
                  Accept donations of any size with a custom, embeddable online form.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>
  Hack Club was founded in 2014 and has partnered with tech companies like <%= link_to "Microsoft", "https://www.microsoft.com" %> and <%= link_to "AMD", "https://www.amd.com" %> to get high school students around the world involved in coding and building projects. Some  projects running on HCB include <%= link_to "Reboot", "https://hcb.hackclub.com/reboot" %>, <%= link_to "Ghostty", "https://hcb.hackclub.com/ghostty" %>, and hundreds of robotics teams like <%= link_to "Green Mountain Robotics", "https://hcb.hackclub.com/green-mountain-robotics" %>.
</p>

<h3 style="margin-top: 24px;">What do I need to do?</h3>

<p>
  <%= @contract.party(:signee).user.name %> has requested that you <%= link_to "sign the fiscal sponsorship agreement", contract_party_url(@party) %> to get their project started. This is required to move forward with <%= @contract.event_name %>.
</p>

<p>You can learn more about HCB <%= link_to "on our website", "https://hackclub.com/fiscal-sponsorship?utm_source=cosigner_learn_more&utm_medium=email&utm_campaign=cosigner_email" %>, and our team is around if you have any questions. Just reply to this email.</p>

<p>
  Best,<br>
  The HCB Team
</p>
