<p>Hi <%= @party.user.name %>,</p>

<p>
  You haven't yet signed your part of the agreement for <%= @contract.event_name %>.
  It only takes a couple minutes to sign the agreement and get started on HCB!
</p>

<%= link_to("Sign the agreement →", @contract.contractable.is_a?(Event::Application) ? agreement_application_url(@contract.contractable) : contract_party_url(@party), style: "border: 0; border-radius: 6px; box-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.125); cursor: pointer; display: inline-flex; font-size: 1rem; font-weight: 600; justify-content: center; align-items: center; height: 36px; letter-spacing: 0; overflow: hidden; padding: 0 1rem; position: relative; text-align: center; text-decoration: none; user-select: none; min-height: 36px; background-color: #74B3E7; color: #121519 !important; margin: 12px 0px;") %>

<p>If you have any questions, we're here to help! Just reply to this email or reach out to <%= link_to "hcb@hackclub.com", "mailto:hcb@hackclub.com" %>.</p>

<p>
  If you do not wish to sign this agreement, you can
  <% if @contract.contractable.is_a?(Event::Application) %>
    <%= link_to "archive your application for #{@contract.event_name} on HCB", application_url(@contract.contractable) %>.
  <% elsif @contract.contractable.is_a?(OrganizerPositionInvite) %>
    <%= link_to "reject your invitation to #{@contract.event_name} on HCB", organizer_position_invite_url(@contract.contractable) %>.
  <% end %>
</p>

<p>
  Warmly,<br>
  The HCB team
</p>
