<% icon ||= type == "error" ? "important" : (type == "success" ? "emoji" : "info") %> <%# (success | info | warning | error) %>
<% color ||= type == "error" ? "primary" : type %>

<div class="<%= "flex flex-col card border b--#{color} p-0 mt3 mb3 #{local_assigns[:class]}" %>">
  <div class="<%= "flex items-center #{color}" %> p-4 pb-0">
    <%= inline_icon icon, size: 32, class: "mr1" %>
    <p class="bold mt0 mb0">
      <%= local_assigns[:title] %>
      <%= local_assigns[:badge] if local_assigns[:badge].present? %>
    </p>
  </div>

  <% unless (block = yield).empty? %>
    <div class="m0 mt1 flex-grow overflow-y-auto scroll-fade p-4 pt-0 <%= "pb-0" if local_assigns[:footer].present? %>">
      <%= block %>
      <% if local_assigns[:footer].present? %>
        <div class="h-4 w-full"></div>
      <% end %>
    </div>
  <% end %>

  <% if local_assigns[:footer].present? %>
    <div class="border-top card__banner card__darker secondary">
      <p class="px-4 my-0">
        <% if local_assigns[:footer] == :questions %>
          <strong>Questions?</strong>
          <%= help_message %>
        <% else %>
          <%= local_assigns[:footer] %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
