<% title "Pay" %>
<% page_md %>
<%= render "users/nav", selected: :pay %>

<h1 class="heading flex-col sm:flex-row border-0 mb-0">
  <div class="flex flex-row items-baseline gap-5 flex-wrap">
    <span>
      Pay
    </span>

    <% if @legal_entities.many? %>
      <div data-controller="menu" data-menu-placement-value="bottom-start" class="inline-block">
        <div class="text-white text-base flex items-center -mt-1 gap-0.5 opacity-75 font-[500] cursor-pointer"
                data-menu-target="toggle"
                data-action="click->menu#toggle click@document->menu#close keydown@document->menu#keydown">
          <%= @legal_entity.display_name %>
          <%= inline_icon "down-caret", size: 20 %>
                </div>
        <div class="menu__content menu__content--2 h5 menu__content--compact" data-menu-target="content">
          <% @legal_entities.each do |le| %>
            <%= link_to my_pay_path(legal_entity_id: le.id), class: "flex items-center#{" bold" if le == @legal_entity}" do %>
              <%= inline_icon(le.person? ? "person" : "bank-account", size: 24) %>
              <%= le.display_name %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex sm:ml-auto gap-2 items-center flex-wrap justify-center">
    <% if @payout_method.present? %>
      <%= link_to settings_payouts_path, class: "!ml-0 btn bg-info" do %>
        <%= inline_icon @payout_method.icon %>
        Payout settings
      <% end %>
    <% else %>
      <%= link_to settings_payouts_path, class: "!ml-0 btn" do %>
        <%= inline_icon "bank-account" %>
        Configure payouts
      <% end %>
    <% end %>
  </div>
</h1>

<%= render "application/flash", klass: "max-w-full mb3" %>

<div class="statset mb-4">
  <div class="stat">
    <span class="stat__label">Total</span>
    <span class="stat__value"><%= render_money_amount @stats[:deposited] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">On the way</span>
    <span class="stat__value"><%= render_money_amount @stats[:in_transit] %></span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Canceled</span>
    <span class="stat__value"><%= render_money_amount @stats[:canceled] %></span>
  </div>
</div>

<div class="flex items-center gap-2 flex-col-reverse sm:flex-row mb-2">
  <%= form_with(model: false, local: true, method: :get, class: "flex-1 w-full sm:w-auto") do |form| %>
    <%= render "events/filters/search", form: %>
  <% end %>

  <%= render "events/filters/menu", filters: @filter_options unless @has_filter %>
</div>

<%= render "events/filters/bar", filters: @filter_options if @has_filter %>

<% if @payments.any? %>
  <article class="table-container">
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Event</th>
          <th>For</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <% payout = payment.payout %>
          <% state_color = { "pending_legal_entity" => "muted", "under_review" => "info", "sent" => "info", "successful" => "success", "rejected" => "error" }[payment.aasm_state] %>
          <tr class="clickable">
            <td>
              <span class="ml0 badge bg-<%= state_color %>">
                <%= payment.aasm_state.humanize %>
              </span>
            </td>
            <td><%= format_date payment.created_at %></td>
            <td><%= payment.event.name %></td>
            <td style="max-width: 25ch;" class="overflow-hidden truncate" title="<%= payment.purpose %>">
              <%= payment.purpose %>
            </td>
            <td>
              <%= render_money payment.amount_cents %>

              <% if payout.present? && policy(payout.local_hcb_code).show? %>
                <%= link_to "", hcb_code_url(payout.hcb_code), class: "stretched-link", data: popovers_enabled? ? hcb_code_popover_data(payout.local_hcb_code) : nil %>
              <% else %>
                <%= link_to "", payment_path(payment), class: "stretched-link", data: popovers_enabled? ? payment_popover_data(payment) : nil %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>

  <%= paginate @payments %>
<% else %>
  <p class="muted">No payments yet.</p>
<% end %>
