<!DOCTYPE html>
<html lang="en" data-dark="<%= @is_dark %>">
  <head>
    <%= render "layouts/head" %>
    <%= render "application/helpscout_beacon" %>
  </head>
  <body <%= yield(:body_attributes) if content_for?(:body_attributes) %> class="bg-snow embedded <%= content_for :page_class %> <%= "season-#{current_season}" if current_season %>">
    <div id="tooltip-container"></div>
    <%= react_component "tour/TourOverlay",
                        tour: @tour&.name,
                        id: @tour&.id,
                        step: @tour&.step || 0,
                        options: @tour&.tourable&.try(:tourable_options) || {},
                        back_to_tour: @back_to_tour %>

    <%= render "layouts/seasonal" %>

    <% if content_for?(:nav) %>
      <main class="app flex flex-col lg:flex-row gap-0 w-full">
        <% if @event && @first_time %>
          <div class="welcome" data-controller="welcome" data-welcome-organizer-position-value="<%= @organizer_position&.id %>">
            <div class="welcome__image mb3">
              <div class="welcome__shine"></div>
              <%= image_tag "logo-production-dark.svg", width: 100, class: "logo-dark" %>
              <%= image_tag "logo-production.svg", width: 100, class: "logo" %>
            </div>
            <h1 class="border-0 mt-0 text-center">Welcome to <%= @event.name %></h1>
            <div class="mb2">
              <button class="btn" data-action="welcome#tour">Show me around</button>
            </div>
            <a href="<%= event_path(@event) %>" data-action="welcome#dismiss">No thanks, bring me straight to HCB</a>
          </div>
        <% end %>

        <%= render "application/native_changelog" if @latest_changelog_post %>

        <aside class="sidebar select-none">
          <div class="sidebar--scroll-container">
            <%= yield(:header) %>
            <div class="hidden lg:block">
              <%= render "application/flash", klass: "mt2 mb1" %>
            </div>
            <div class="hidden lg:block flex-1">
              <%= yield(:nav) %>
            </div>
          </div>
          <% if content_for?(:nav_footer) %>
            <div class="mt-auto max-h-[30%] overflow-visible hidden lg:flex">
              <%= yield(:nav_footer) %>
            </div>
          <% else %>
            <div class="hidden lg:flex h-[1px] w-full bg-gray-200 dark:bg-neutral-700"></div>
          <% end %>
          <%= render "application/user_menu" %>
        </aside>

        <%= yield(:mobile_nav) %>
        <article class="flex-1 pt-16 lg:pt-0 lg:pl-72 w-[100%] m-0">
          <%= render "application/banner_container" %>
          <div class="container p-4 md:p-7 pt-4 pb-[150px] lg:pb-7 <%= content_for :container_class %> mx-auto" style="<%= content_for :container_style %>">
            <div class="lg:hidden">
              <%= render "application/flash", klass: "mb1" unless @hide_flash %>
            </div>
            <%= yield(:container) %>
            <%= yield %>
            <%= render "application/footer" unless @no_app_shell || @hide_footer %>
          </div>
        </article>
      </main>
    <% else %>
      <%= render "application/banner_container" %>
      <% unless @no_app_shell %>
        <div class="flex justify-center mt-8">
          <%= render "application/logo" %>
        </div>
      <% end %>
      <%= yield(:header) %>
      <main class="container px-6 <%= content_for :container_class %>" style="<%= content_for :container_style %>">
        <%= render "application/flash", klass: "mb1" unless @hide_flash %>
        <%= yield %>
      </main>
    <% end %>
    <%= render "application/shared_popover" %>
    <%= render "layouts/body_suffix" %>
  </body>
</html>
